@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap");
.menu-mobile {
  display: none; }

.call-buton {
  display: none; }

.search-mobile {
  display: none; }

.search-mobile-dis {
  display: none; }

.ngon-ngu {
  display: none; }

@media only screen and (max-width: 1601px) {
  .page-reg-student .bg-form-reg {
    padding: 50px; }
    .page-reg-student .bg-form-reg .page-reg-student .bg-form-reg .avatar-thumb img {
      max-width: 800px; }

  .page-reg-recruiter .section-info-reg {
    padding-bottom: 3px; }
    .page-reg-recruiter .section-info-reg .box-info-page-res {
      padding: 20px 20px 10px 20px; } }
@media only screen and (max-width: 1400px) {
  .page-reg-student .bg-form-reg .avatar-thumb img {
    max-width: 800px; } }
@media only screen and (max-width: 1201px) {
  .page-reg-student .bg-form-reg .avatar-thumb img {
    max-width: 560px; }

  .bg-form-reg .col-md-4 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%; }
  .bg-form-reg .col-md-8 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%; }

  .list-icon {
    display: inline-flex;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
    flex-wrap: wrap; }

  .page-detail-intership .col-md-9 {
    -ms-flex: 0 0 67%;
    flex: 0 0 67%;
    max-width: 67%; }
  .page-detail-intership .col-md-3 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%; }

  .content-right-detail {
    margin-top: 135px; } }
@media only screen and (max-width: 1025px) {
  header {
    padding: 0 15px; }

  footer .container .footer-top {
    width: 100%;
    display: flex;
    justify-content: inherit;
    position: relative; }
    footer .container .footer-top .footer-link {
      display: inherit;
      width: 100%; }

  .pc-process {
    display: none; }

  .mb-process {
    display: block; }

  .process-section-about {
    background: #2f76d7 !important;
    margin: 0px 0;
    padding: 0;
    min-height: initial; }
    .process-section-about h2 {
      color: white;
      padding-bottom: 30px; }
    .process-section-about ul li {
      position: relative;
      text-align: left;
      padding-left: 90px;
      margin-bottom: 20px; }
      .process-section-about ul li img {
        position: absolute;
        left: 20px;
        top: 0; }
      .process-section-about ul li .infor-process {
        display: inline-block;
        width: 100%; }
        .process-section-about ul li .infor-process b {
          font-size: 24px;
          color: white;
          display: inline-block;
          width: 100%; }
        .process-section-about ul li .infor-process span {
          font-size: 14px;
          color: white;
          display: inline-block;
          width: 100%; }

  .value-digico {
    margin-top: 30px;
    padding-bottom: 30px; } }
@media only screen and (max-width: 950px) {
  .page-detail-event .col-md-8 {
    -ms-flex: 55%;
    flex: 0 0 55%;
    max-width: 55%; }
  .page-detail-event .col-md-4 {
    -ms-flex: 45%;
    flex: 0 0 45%;
    max-width: 45%; }
  .page-detail-event .show-sticky-form {
    position: initial !important;
    width: 100%; }

  .logo-title {
    max-width: 135px; }

  .value-digico .item-value-digi span {
    font-size: 14px; }
  .value-digico .item-value-digi b {
    font-size: 35px; }

  .process-section-about h2 {
    margin-top: 40px; }

  .description-about .team-box .member-team {
    width: 25%; }
  .description-about .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .description-about .infor-about {
    margin-bottom: 60px; }

  .page-view-jobs-company .avatar-thumb a {
    max-width: 210px; }
  .page-view-jobs-company .content-right-detail {
    text-align: center; }

  h1 {
    font-size: 32px !important;
    font-weight: 800; }

  h2 {
    font-size: 28px !important;
    font-weight: 800; }

  h3 {
    font-size: 24px !important;
    font-weight: 800; }

  h4 {
    font-size: 18px !important;
    font-weight: 800; }

  h5 {
    font-size: 16px !important;
    font-weight: 700; }

  h6 {
    font-size: 15px !important;
    font-weight: 700; }

  .page-reg-student .bg-form-reg .avatar-thumb img {
    max-width: 100%; }

  .viec-lam-tot .row .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 0; }
    .viec-lam-tot .row .col-md-6:nth-last-child(1) {
      margin-bottom: 0; }
  .viec-lam-tot .box-vieclam-tot {
    margin: 10px 0; }

  .latest-scholarships .row .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 0; }
    .latest-scholarships .row .col-md-6:nth-last-child(1) {
      margin-bottom: 0; }

  .right-header span.icon-search {
    font-size: 22px; }

  .menu nav.show-menu {
    display: inline-block !important; }

  body .ngon-ngu-pc {
    margin-top: -6px !important; }

  .right-header ul li {
    list-style: none;
    margin-left: 0;
    margin-right: 39px; }

  .ngon-ngu {
    display: block; }

  .menu .btn-search .ic-search {
    position: fixed;
    top: 18px;
    right: 70px; }

  .menu-mobile {
    display: block;
    position: fixed;
    top: 15px;
    opacity: 1;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 1; }
    .menu-mobile i {
      font-size: 22px;
      color: #858585; }

  .search-head input::placeholder {
    font-size: 13px; }

  .btn-search.show-search-mb {
    padding-right: 0; }
    .btn-search.show-search-mb .ic-search {
      top: 20px; }

  header {
    background-color: white;
    border-bottom: 1px solid #E6E6E6; }
    header .content-head {
      align-items: center; }
      header .content-head .logo img {
        padding: 15px 0;
        height: 61px; }
      header .content-head .log-in-out.account {
        padding-right: 50px; }
      header .content-head nav {
        display: none; }
        header .content-head nav ul {
          display: inline-block;
          width: 100%;
          padding: 0 !important;
          margin: 0 !important; }
          header .content-head nav ul li {
            float: left;
            padding: 10px !important; }
            header .content-head nav ul li a {
              font-size: 14px;
              color: #2E2E2E; }
            header .content-head nav ul li .btn-acc, header .content-head nav ul li .btn-acc-reg {
              margin-left: 14px; }
            header .content-head nav ul li ul {
              top: 45px;
              right: 0; }
          header .content-head nav ul .search-menu {
            display: none; }
    header .close-menu-mb {
      display: none; }
    header.active nav {
      display: inline-block !important; }
    header.active .menu-mobile .ic-menu-mb {
      display: none; }
    header.active .menu-mobile .close-menu-mb {
      display: block; }

  header .content-head .menu.show-menu {
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    background: white;
    top: 62px;
    left: 0;
    flex-wrap: wrap-reverse;
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: 1; }

  .log-in-out.account {
    display: none; }

  .menu.show-menu .log-in-out.account {
    display: inline-flex;
    width: 100%;
    padding: 0 0 10px 25px; }

  .btn-acc-reg:hover .sub-menu {
    right: initial; }

  .btn-acc-info:hover .sub-menu {
    width: 50% !important;
    left: 0 !important; }

  .list-icon .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    position: relative;
    flex: 0 0 20%;
    max-width: 25%;
    margin-bottom: 30px; }

  .row.we-are-fresherup {
    display: flex;
    flex-direction: inherit; }
    .row.we-are-fresherup h2 {
      font-size: 32px !important; }

  footer .container .footer-top {
    width: 100%;
    display: block;
    justify-content: inherit;
    position: relative; }
    footer .container .footer-top .footer-link {
      display: inherit;
      width: 100%; }

  header {
    padding: 0 15px; }

  .page-list-intership .box-search {
    margin-top: 25px; }
  .page-list-intership .col-md-3, .page-list-intership .col-md-9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .page-detail-intership .content-detail .btn-action {
    max-width: 100%; }
  .page-detail-intership .content-right-detail {
    text-align: center;
    margin-top: 40px; }
    .page-detail-intership .content-right-detail .flex-center, .page-detail-intership .content-right-detail .link-websites a {
      justify-content: center; }
    .page-detail-intership .content-right-detail .btn-save-hs, .page-detail-intership .content-right-detail .btn-share-hs, .page-detail-intership .content-right-detail .btn-save-hs-active {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .page-detail-intership .content-right-detail .btn-action.align-left {
      text-align: center; }
  .page-detail-intership .col-md-9, .page-detail-intership .col-md-3 {
    -ms-flex: 0 0 75%;
    flex: 0 0 100%;
    max-width: 100%; }

  .page-step-profile-student .box-shadow-step {
    padding: 30px; }

  .page-account .col-md-3, .page-account .col-md-9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .page-account .col-left-page-acc {
    position: fixed;
    top: 60px;
    z-index: 99;
    right: 0;
    left: 0;
    border-radius: 0; }
    .page-account .col-left-page-acc .tab-profile .nav {
      display: flex;
      overflow-x: scroll;
      height: auto;
      white-space: nowrap;
      width: 100%;
      flex-wrap: unset;
      justify-content: left; }
      .page-account .col-left-page-acc .tab-profile .nav .nav-link {
        margin: 0px 7px;
        font-size: 18px;
        padding: 5px 0; }
    .page-account .col-left-page-acc.box-vieclam-tot {
      padding: 10px; }
  .page-account .col-right-page-acc {
    padding-top: 270px;
    overflow: hidden; }
  .page-account .content-edit-file .step-profile .steps .progress-steps li {
    width: 13%; }

  .head-info-cv .head-info-right-cv .name-cv h1 {
    font-size: 45px; }
  .head-info-cv .head-info-right-cv .name-cv span {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 0; }

  .page-your-cv .box-hoc-van {
    height: 100%; }

  .list-your-contact.flex-center {
    margin-top: 0;
    display: initial; }

  .list-your-contact a {
    display: inline-block;
    width: 100%;
    margin: 8px 0; }

  .page-dashborad .tab-profile {
    margin-top: 0; }
    .page-dashborad .tab-profile .nav-link {
      padding: 6px 0 !important; }
  .page-dashborad .box-vieclam-tot {
    padding: 20px; }
    .page-dashborad .box-vieclam-tot .flex-center span, .page-dashborad .box-vieclam-tot .flex-center p {
      margin: 0 2px 5px 0; }
    .page-dashborad .box-vieclam-tot .total-ho-so-td {
      margin-left: 0; }

  .detail-dashboard-left .btn-action a {
    max-width: 100% !important; }

  .page-reg-student .form-reg-student {
    margin-top: 30px; }
    .page-reg-student .form-reg-student .flex-center {
      justify-content: space-between; }
  .page-reg-student .col-md-8, .page-reg-student .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .page-reg-student .section-info-reg .row {
    justify-content: center; }
  .page-reg-student .section-info-reg .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .page-reg-student .section-info-reg .box-info-page-res {
    margin: 15px 0; }
    .page-reg-student .section-info-reg .box-info-page-res img {
      height: 60px; }

  .page-reg-recruiter .section-info-reg {
    padding-bottom: 0; }
    .page-reg-recruiter .section-info-reg .col-md-4 {
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      max-width: 33%; }
    .page-reg-recruiter .section-info-reg .box-info-page-res {
      padding: 5px 20px; }

  .doanh-nghiep .feedback {
    padding-bottom: 50px; }
  .doanh-nghiep .box-doi-tac {
    min-height: 100%;
    padding: 50px 0 20px 0; }
    .doanh-nghiep .box-doi-tac .dt-doanh-nghiep {
      padding: 50px 0;
      position: initial;
      margin: 0 auto;
      display: initial;
      height: 100%; }
      .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac {
        position: initial;
        width: 100%;
        height: 100%;
        margin-top: 10px; }
        .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac {
          height: 100%;
          text-align: center; }
          .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac {
            width: 20% !important;
            display: inline-block;
            text-align: center;
            float: none;
            position: initial;
            height: 90px !important; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac img {
              height: 60px !important; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(12), .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(11), .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(13), .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(14), .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(15) {
              display: none; }
      .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h2 {
        text-align: center; }

  .form-reg-student .flex-center .form-group {
    width: 50%; }

  .section-post-td-intership .content-profile-recuiter .list-chinh-sach .custom-checkbox {
    width: 30%; }

  .show-neighbors .carousel-inner {
    width: 300%;
    left: 0; }

  .slider-csvc-about .carousel-control-prev {
    left: 0; }

  .slider-csvc-about .carousel-control-next {
    right: 0; }

  .box-filter .btn-filter {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #3076D7;
    display: block; }
  .box-filter p {
    margin-bottom: 0; }
  .box-filter .close-filter {
    display: none; }
  .box-filter .content-filter {
    display: none; }
  .box-filter.show-filter .content-filter {
    display: block; }
  .box-filter.show-filter .btn-filter {
    display: none; }
  .box-filter.show-filter .close-filter {
    display: block;
    position: absolute;
    top: 20px;
    right: 34px;
    font-size: 15px;
    color: #2f76d7;
    font-weight: 600; }

  .page-account .tab-profile .nav {
    display: flex;
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: unset;
    justify-content: left; }
    .page-account .tab-profile .nav .nav-link {
      font-size: 14px;
      padding: 5px 10px !important;
      width: auto; }
      .page-account .tab-profile .nav .nav-link span {
        font-size: 12px; }

  .btn-save-hs-active, .btn-save-hs {
    height: 40px;
    margin-left: 0; }

  .btn-share-hs {
    margin-right: 0; }

  .intership .box-banner {
    padding-bottom: 18px; }
    .intership .box-banner a {
      font-size: 16px;
      line-height: 24px; }
  .intership .flex-center {
    padding-top: 14px;
    display: inherit; }

  .btn-acc-reg:hover .sub-menu {
    width: 50% !important;
    left: 0 !important;
    top: 80px; }

  .list-sm-news .item-news {
    padding-bottom: 20px; }
    .list-sm-news .item-news .flex-center a {
      bottom: -15px; }
  .list-sm-news .col-md-3 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%; }

  .news-related .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .page-step-profile-student.page-account .col-left-page-acc.box-vieclam-tot {
    padding-left: 50px; }
    .page-step-profile-student.page-account .col-left-page-acc.box-vieclam-tot .tab-profile {
      margin-left: -50px; }

  .btn-search.show-search-mb .close-search {
    right: 50px;
    top: 0; }

  .search-head input {
    height: 60px; }

  .content-right-detail p {
    text-align: left; }
  .content-right-detail .avatar-thumb a {
    padding-top: 15%; }

  .col-filter-intership.col-scholarship {
    margin-bottom: 0; }
    .col-filter-intership.col-scholarship .box-filter p {
      display: block; }

  .list-internship-organization {
    margin-top: 30px; }
    .list-internship-organization .page-account .tab-content {
      padding-top: 0; }

  .page-detail-intership .detail-info-scholarship .row {
    flex-direction: row-reverse; }
    .page-detail-intership .detail-info-scholarship .row h1 {
      margin-bottom: 10px; }
    .page-detail-intership .detail-info-scholarship .row .content-detail {
      margin-top: 20px; }
    .page-detail-intership .detail-info-scholarship .row .link-websites {
      justify-content: left; }
      .page-detail-intership .detail-info-scholarship .row .link-websites a {
        font-size: 16px; }

  .list-fresher-job .col-filter-intership {
    margin-bottom: 0; }

  .page-list-services .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .page-help-center.page-account .action {
    text-align: center; }

  .section-make-question .content-form-question {
    max-width: 100%; } }
@media only screen and (max-width: 767px) {
  .list-info .item-info {
    margin-right: 0; }

  .content-right-detail p {
    text-align: center; }

  .section-scholarship .box-vieclam-tot .info-company .title-vieclam-tot {
    padding-right: 15px !important; }

  .latest-scholarships.section-scholarship .list-info .flex-center {
    align-items: stretch; }

  .box-vieclam-tot .logo-company {
    position: inherit; }
    .box-vieclam-tot .logo-company img {
      height: 45px; }

  .page-account .section-make-question .tab-content, .page-help-center .tab-content {
    padding-top: 0 !important; }

  .page-account .col-right-page-acc {
    padding-top: 100px; }

  .list-fresher-job .col-filter-intership {
    margin-bottom: 15px; }
    .list-fresher-job .col-filter-intership .box-filter.show-filter .close-filter {
      display: block; }
    .list-fresher-job .col-filter-intership .box-filter .close-filter {
      display: none; }

  .section-scholarship .list-info .item-info:last-child {
    margin-bottom: 0; }

  .content-right-detail .avatar-thumb a {
    padding-top: 48%; }

  .btn-search.show-search-mb .close-search {
    right: 0; }

  .btn-acc-reg:hover .sub-menu {
    top: 70px !important; }

  .item__third.avatar-thumb a:first-child {
    display: none !important; }

  .item__third.avatar-thumb a {
    padding-top: 0 !important; }
    .item__third.avatar-thumb a img {
      position: initial; }
    .item__third.avatar-thumb a:last-child {
      display: block !important; }

  .head-info-cv .img-accept {
    max-width: 100px;
    top: -30px; }

  .page-step-profile-student.page-account .col-left-page-acc.box-vieclam-tot {
    padding-left: 0; }
    .page-step-profile-student.page-account .col-left-page-acc.box-vieclam-tot .tab-profile {
      margin-left: 0; }

  .create-interships {
    padding-top: 0; }

  .page-account .tab-content {
    padding-top: 120px; }

  .profile-user-img, .avatar-upload {
    margin: 0 auto;
    width: 90px; }

  .avatar-upload .avatar-edit input + label:after {
    right: 7px;
    top: -2px;
    width: 75px; }

  .name-account {
    margin-top: 20px;
    text-align: center; }

  .action-edit-hs {
    overflow-y: scroll; }

  .m-them-kinhnghiem .tooltip img {
    margin-bottom: 0; }

  .list-resume .flex-center {
    display: inherit; }
    .list-resume .flex-center a {
      margin: 10px 15px;
      text-decoration: underline;
      display: inline-block; }

  .action-edit-hs {
    margin-top: 20px;
    position: initial; }
    .action-edit-hs .custom-switch {
      padding-left: 0; }
      .action-edit-hs .custom-switch p {
        display: none !important; }

  .list-resume.m-them-kinhnghiem .box-hoc-van {
    padding-right: 0; }

  .head-question {
    display: inherit;
    margin-bottom: 20px; }

  .content-detail-news {
    max-width: 100%;
    margin-top: 30px; }

  .search-head input {
    padding-right: 48px;
    padding-left: 45px; }
    .search-head input::placeholder {
      font-size: 12px; }

  .page-detail-intership .content-right-detail .flex-center, .page-detail-intership .content-right-detail .link-websites a {
    justify-content: left; }

  .page-your-cv .box-hoc-van span:last-child {
    margin-right: 0; }
  .page-your-cv .box-hoc-van .time-work {
    position: initial; }

  .flex-center.info-reference {
    display: initial; }
    .flex-center.info-reference span {
      margin-right: 0; }

  .item-news .desc-news, .item-news .title-news a {
    -webkit-line-clamp: inherit; }

  .list-sm-news {
    padding-top: 0; }
    .list-sm-news .item-news {
      padding-bottom: 0; }
      .list-sm-news .item-news .flex-center a {
        bottom: 15px; }
    .list-sm-news .col-md-3 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }

  .content-detail-event {
    max-width: 100%; }

  .section-scholarship .list-info {
    align-items: flex-start; }
    .section-scholarship .list-info .item-info {
      padding-right: 0; }
  .section-scholarship .box-vieclam-tot .info-company .title-vieclam-tot span {
    -webkit-line-clamp: 2000; }
  .section-scholarship.latest-scholarships .list-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }
  .section-scholarship.latest-scholarships .item-info {
    margin: 0 0 15px 0; }

  .latest-scholarships .box-vieclam-tot .logo-company img {
    height: 45px; }

  .detail-info-scholarship .row {
    flex-direction: column-reverse; }
  .detail-info-scholarship .list-info {
    display: inherit; }
  .detail-info-scholarship .item-info {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-right: 0; }

  h1 {
    font-size: 26px !important; }

  .list-internship-organization .row {
    flex-direction: column-reverse; }
  .list-internship-organization .page-account .tab-profile .nav-tabs {
    padding-bottom: 10px; }
  .list-internship-organization .page-list-intership .content-right-detail {
    margin-top: 0px !important; }

  .section-success h5 {
    font-size: 22px !important; }
  .section-success .flex-center {
    display: inline-block; }

  .page-list-intership .box-vieclam-tot .info-company .title-vieclam-tot {
    padding-right: 50px; }
  .page-list-intership .box-vieclam-tot .logo-company img {
    height: 45px; }

  .box-vieclam-tot.list-scholarship {
    padding-left: 80px; }
    .box-vieclam-tot.list-scholarship .logo-company img {
      height: 45px; }
    .box-vieclam-tot.list-scholarship .info-company ul li {
      width: 100%; }

  .logo-footer img {
    height: 40px; }

  .page-detail-news .head-news .info-head-news {
    padding-top: 10px; }
  .page-detail-news .detail-news {
    padding-top: 15px; }
    .page-detail-news .detail-news h5 {
      font-weight: 600;
      line-height: 22px; }
    .page-detail-news .detail-news .avatar-thumb {
      margin-bottom: 10px; }
  .page-detail-news .show-box-sticky-scroll {
    width: 100%;
    right: 0;
    top: 60px;
    border-radius: 0;
    padding: 15px 15px 5px 15px; }
    .page-detail-news .show-box-sticky-scroll ul li {
      margin: 5px 0; }
      .page-detail-news .show-box-sticky-scroll ul li a {
        color: #2E2E2E;
        font-size: 14px; }

  .head-news {
    min-height: 280px; }
    .head-news .info-head-news {
      padding-top: 10px; }
      .head-news .info-head-news p {
        max-width: 100%;
        padding: 0; }

  .page-detail-event .col-md-8, .page-detail-event .col-md-4 {
    -ms-flex: 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .page-detail-event .form-reg-event {
    margin-bottom: 30px; }

  .page-about .btn-action a {
    width: 100%;
    max-width: 100%; }
  .page-about h2 {
    font-size: 23px !important; }
  .page-about .logo-title {
    max-width: 120px; }

  .description-about {
    margin-top: 20px; }
    .description-about .team-box .member-team {
      width: 50%; }
    .description-about .infor-about {
      padding: 20px; }
      .description-about .infor-about img {
        height: 35px; }
      .description-about .infor-about p {
        font-size: 16px;
        line-height: 20px; }

  .process-section-about ul li {
    padding-left: 75px; }
    .process-section-about ul li img {
      height: 35px; }
    .process-section-about ul li .infor-process {
      padding-right: 10px; }
      .process-section-about ul li .infor-process b {
        font-size: 18px; }

  .partner-section {
    padding-bottom: 0;
    padding-top: 25px; }
    .partner-section h2 {
      margin-bottom: 0; }
    .partner-section .row.mt-40 {
      margin-top: 0; }

  .value-digico .item-value-digi {
    margin-bottom: 20px; }
    .value-digico .item-value-digi b {
      font-size: 24px; }
  .value-digico .col-md {
    width: 50%;
    display: inline-block; }

  .item-partner {
    border-right: 0;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 20px;
    padding-top: 20px; }
    .item-partner h6 {
      margin-bottom: 15px; }
    .item-partner img {
      height: 20px;
      margin: 5px 20px; }

  .col-md:last-child .item-partner {
    border-bottom: 0; }

  .digi-section-5 {
    padding-top: 10px;
    margin-bottom: 0; }
    .digi-section-5 .title-page h2 {
      display: initial;
      line-height: 35px; }

  .content-form {
    padding: 20px; }
    .content-form .row {
      margin-right: 0; }
      .content-form .row .col-md-6 {
        width: 100%;
        padding-right: 0; }

  .head-title-event.flex-center {
    display: initial; }
  .head-title-event .info-event-right {
    padding-left: 0 !important; }
    .head-title-event .info-event-right .btn-action a {
      max-width: 100% !important;
      margin-bottom: 20px; }
    .head-title-event .info-event-right h1 {
      font-size: 26px !important; }

  .box-countdown {
    display: initial;
    text-align: center; }
    .box-countdown .info-time .date-time-event {
      border-left: 0;
      padding: 0;
      margin: 0; }
      .box-countdown .info-time .date-time-event p {
        font-size: 14px; }
    .box-countdown #timer {
      justify-content: center;
      padding-bottom: 20px; }

  .about-us h2 {
    margin-top: 25px; }

  .section-detail-event .row {
    flex-direction: column-reverse; }
  .section-detail-event .row.mt-40 {
    margin-top: 20px; }

  .page-view-jobs-company .avatar-thumb a {
    max-width: 116px; }

  .page-account .content-edit-file .step-profile .steps .progress-steps li a {
    display: none; }

  .btn-acc-info:hover .sub-menu {
    width: 100% !important; }

  .btn-save-hs-active, .btn-save-hs {
    width: 50%; }

  .btn-acc-reg:hover .sub-menu {
    width: 100% !important;
    left: 0 !important;
    top: 43px; }

  .show-neighbors .carousel-inner {
    width: 100%; }

  .list-icon .icon {
    flex: 0 0 15%;
    max-width: 15%; }
    .list-icon .icon a .circle-icon {
      width: 100px;
      height: 100px; }
      .list-icon .icon a .circle-icon svg {
        height: 50px; }

  .page-account #nav-info .col-md-6:nth-child(1), .page-account #nav-info .col-md-6:nth-child(2), .page-account #nav-info .col-md-6:nth-child(3) {
    width: 50%; }
  .page-account #nav-info .col-md-6:nth-child(2) {
    padding-right: 0; }

  .tag-nganh-lien-quan a {
    padding: 4px 7px;
    font-size: 12px;
    margin: 0 3px 10px 0; }
    .tag-nganh-lien-quan a i {
      font-size: 11px; }

  .info-bottom {
    margin-top: 10px; }

  .box-hoat-dong .name-item {
    margin: 4px 0;
    display: inline-block;
    width: 100%; }

  .info-bottom ul li.date-post span {
    font-size: 11px; }

  .page-your-cv .title-page.flex-center .align-right {
    text-align: left; }
  .page-your-cv .btn-action-xet-duyet {
    display: initial; }

  .btn-action-xet-duyet .btn-common-fill.btn-deny-pv, .btn-action-xet-duyet .btn-common-fill.btn-aprrove-pv {
    margin: 20px 0 0 0;
    max-width: 100%; }

  footer .container .footer-bottom .menu-footer a {
    padding: 0 10px 10px 10px;
    display: inline-block; }

  .doanh-nghiep {
    padding-top: 0; }
    .doanh-nghiep .section-doi-tac .title-gold {
      font-size: 45px; }
    .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac {
      padding: 2px;
      margin: 3px;
      align-items: center;
      display: inline-flex;
      width: 22% !important; }
    .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h2 {
      font-size: 28px;
      line-height: 39px; }

  .page-reg-student.page-reg-recruiter .section-info-reg .row.mt-50 {
    margin-top: 25px; }
  .page-reg-student.page-reg-recruiter .section-info-reg .box-info-page-res {
    padding: 5px; }
  .page-reg-student.page-reg-recruiter .section-info-reg h3 {
    font-size: 18px; }
  .page-reg-student.page-reg-recruiter .section-info-reg .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .page-reg-student .bg-form-reg {
    padding: 40px 15px 30px 15px; }
    .page-reg-student .bg-form-reg .avatar-thumb img {
      max-width: 100%; }
  .page-reg-student .section-info-reg .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .page-reg-student .box-info-page-res {
    padding: 20px 30px; }

  .page-dashborad .action-edit-hs {
    position: initial;
    margin: 15px 0px 5px 0;
    justify-content: space-between; }

  .detail-dashboard-right .tab-profile .nav-tabs {
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: unset;
    justify-content: left; }
    .detail-dashboard-right .tab-profile .nav-tabs .nav-link {
      font-size: 14px;
      padding: 5px 10px !important;
      width: auto; }
      .detail-dashboard-right .tab-profile .nav-tabs .nav-link span {
        font-size: 12px; }

  .content-head nav ul li .btn-acc-reg {
    justify-content: center; }
    .content-head nav ul li .btn-acc-reg.btn-acc-sv {
      justify-content: left; }

  .content-deatil-cv .flex-center h4 {
    margin-bottom: 0; }

  .list-your-contact a {
    font-size: 16px; }

  .page-your-cv .box-hoc-van {
    margin: 5px 0;
    height: auto; }
  .page-your-cv .action-your-cv {
    margin: 15px 0; }
    .page-your-cv .action-your-cv a {
      margin-left: 0;
      margin-right: 10px; }
  .page-your-cv .title-page.flex-center {
    display: inherit; }
  .page-your-cv .box-shadow-step {
    padding: 30px 20px; }

  .head-info-cv {
    display: initial; }
    .head-info-cv .head-info-right-cv {
      padding-left: 0;
      margin-top: 20px; }
      .head-info-cv .head-info-right-cv .your-postion {
        font-size: 20px !important;
        margin: 10px 0; }
      .head-info-cv .head-info-right-cv .name-cv h1 {
        font-size: 32px; }
    .head-info-cv .your-avatar-cv {
      max-height: 100px; }

  .width-100 {
    -ms-flex: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    padding: 0; }

  .information-section-left-right.bg-gray .row .infor-columns-text-LeftRight {
    padding-left: 0; }

  .footer-top .footer-link {
    width: 100%;
    line-height: 22px; }
    .footer-top .footer-link ul {
      padding-top: 5px !important;
      margin-bottom: 10px; }
      .footer-top .footer-link ul li {
        line-height: 25px; }
    .footer-top .footer-link span {
      font-size: 12px !important;
      white-space: normal !important; }
    .footer-top .footer-link .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%; }

  footer .container .footer-top {
    width: 100%;
    display: inherit;
    padding-top: 25px; }
    footer .container .footer-top .footer-link {
      padding-top: 20px;
      line-height: 20px; }

  .box-search {
    width: 100%;
    padding: 0 15px;
    justify-content: center; }

  .we-are-fresherup .width-100 {
    margin-bottom: 30px; }
    .we-are-fresherup .width-100 p {
      margin-bottom: 10px; }

  .we-are-fresherup .width-100:nth-last-child(1) {
    margin-bottom: 0; }

  .information-section-left-right .row.we-are-fresherup h5 {
    min-height: 23px; }

  .infor-columns-text-LeftRight {
    padding-top: 20px; }

  .information-section-left-right {
    text-align: center; }

  .footer-bottom p {
    font-size: 13px; }

  .list-icon .icon {
    margin: 10px 30px; }

  .slider-csvc-about .carousel-control-next {
    right: 20px; }

  .slider-csvc-about .carousel-control-prev {
    left: 20px; }

  header .content-head nav ul li {
    display: inline-block;
    width: 100%; }
    header .content-head nav ul li:last-child {
      position: relative; }
    header .content-head nav ul li ul {
      top: 45px;
      right: inherit; }

  .page-list-intership .total-intership.mt-30 {
    margin-top: 20px;
    margin-bottom: -15px; }
  .page-list-intership .box-search {
    margin-top: 10px;
    padding: 0; }

  .number-of-openings {
    display: inherit; }
    .number-of-openings a {
      width: 100%;
      display: inline-block;
      margin-bottom: 10px; }

  .page-detail-intership .content-right-detail {
    margin-bottom: 0; }
  .page-detail-intership .box-vieclam-tot .flex-center.mt-20 {
    justify-content: left; }
  .page-detail-intership .box-vieclam-tot .flex-center {
    justify-content: center; }
  .page-detail-intership .box-vieclam-tot .list-info .item-info {
    padding: 0;
    flex: 0 0 50%; }
  .page-detail-intership .modal-nop-hs .btn-action.flex-center {
    display: inherit; }
    .page-detail-intership .modal-nop-hs .btn-action.flex-center .btn-common-fill {
      width: 100%;
      margin: 5px 0; }

  .intership {
    margin-top: 20px;
    padding-bottom: 30px; }
    .intership .btn-action.center.mt-50.mb-20 {
      margin-top: 15px; }
    .intership .title-page.mb-50 {
      margin-bottom: 20px;
      margin-bottom: 20px; }
    .intership .category-list.mt-60 {
      margin-top: 30px; }
    .intership .box-banner {
      padding-bottom: 20px;
      margin-bottom: 20px; }

  .pagging-page ul li a, .pagging-page ul li span {
    width: 30px;
    height: 30px;
    margin: 0 8px; }

  .box-vieclam-tot .info-company .title-vieclam-tot h5 {
    -webkit-line-clamp: inherit; }

  .modal {
    padding: 80px 5px; }

  .tabs-info .nav-tabs .nav-link {
    font-size: 14px;
    padding: 0; }

  .page-step-profile-student .noti-ky-tu {
    position: initial; }
  .page-step-profile-student .box-shadow-step {
    padding: 20px; }

  .step-profile .steps .progress-steps li {
    width: 50%;
    margin: 0 0px; }
    .step-profile .steps .progress-steps li::after {
      top: 20px; }
    .step-profile .steps .progress-steps li .number-step {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }

  .profile-recuiter .add-filed-profile {
    margin-top: 20px; }
  .profile-recuiter .link-social {
    margin: 0;
    display: inherit; }
    .profile-recuiter .link-social .custom-select {
      max-width: 100%;
      margin: 10px 0; }
  .profile-recuiter .tag-nganh-lien-quan a {
    font-size: 12px; }

  .page-account .col-left-page-acc .tab-profile .nav .nav-link {
    font-size: 14px; }

  .section-post-td-intership .content-profile-recuiter .thoigian-thuctap.salary .custom-select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px; }
  .section-post-td-intership .content-profile-recuiter .ngay-thuc-tap.flex-center, .section-post-td-intership .content-profile-recuiter .thoigian-thuctap.flex-center {
    justify-content: left;
    display: inherit; }
    .section-post-td-intership .content-profile-recuiter .ngay-thuc-tap.flex-center input, .section-post-td-intership .content-profile-recuiter .thoigian-thuctap.flex-center input {
      width: 100%;
      margin-bottom: 15px; }
  .section-post-td-intership .content-profile-recuiter .flex-center.loai-hinh-tt {
    display: initial; }
    .section-post-td-intership .content-profile-recuiter .flex-center.loai-hinh-tt.time-nhan-viec {
      display: flex; }
      .section-post-td-intership .content-profile-recuiter .flex-center.loai-hinh-tt.time-nhan-viec .check-radio-custom {
        margin: 10px; }
    .section-post-td-intership .content-profile-recuiter .flex-center.loai-hinh-tt .check-radio-custom {
      margin: 10px 0; }

  .section-info-reg .row.mt-50 {
    margin-top: 10px; }

  .page-reg-recruiter .box-info-page-res {
    padding: 5px 10px; }
  .page-reg-recruiter .owl-carousel .owl-nav button.owl-next, .page-reg-recruiter .owl-carousel .owl-nav button.owl-prev, .page-reg-recruiter .owl-carousel button.owl-dot {
    display: none; }

  .head-info-cv .head-info-right-cv .name-cv h1 {
    font-size: 24px;
    margin-bottom: 0; }
  .head-info-cv .head-info-right-cv .name-cv span {
    font-size: 16px;
    margin-bottom: 0; }

  .page-account.page-help-center .btn-common-fill {
    max-width: 100%; } }
@media only screen and (max-width: 500px) {
  .section-post-td-intership .content-profile-recuiter .list-chinh-sach .custom-checkbox {
    width: 100%; }
    .section-post-td-intership .content-profile-recuiter .list-chinh-sach .custom-checkbox .label-custom {
      margin-bottom: 0; }

  .page-account .content-edit-file .step-profile .steps .progress-steps li {
    width: 16%;
    font-size: 13px;
    padding: 0 5px; }

  .pagging-page ul li a, .pagging-page ul li span {
    width: 30px;
    height: 30px;
    margin: 0px 5px; }

  .logo-doi-tac {
    margin-top: 20px; }
    .logo-doi-tac ul {
      flex-wrap: wrap;
      display: flex; }
      .logo-doi-tac ul li {
        flex: 0 0 50%;
        max-width: 50%; }

  .list-info {
    flex-wrap: wrap; }
    .list-info .item-info {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 18px; }
      .list-info .item-info .info-data {
        white-space: normal; }
        .list-info .item-info .info-data span {
          -webkit-line-clamp: unset; }

  footer .footer-top {
    width: 100%;
    display: initial;
    /* justify-content: space-between; */
    padding-top: 50px;
    position: relative; }
    footer .footer-top .footer-link {
      width: 100%;
      padding-top: 50px; }

  .page-account .col-right-page-acc .flex-center.box-mail {
    display: initial; }
  .page-account .col-right-page-acc .tab-content .email-submited {
    width: 100% !important;
    margin-bottom: 20px; } }
@media only screen and (max-width: 320px) {
  .col-filter-intership.box-vieclam-tot {
    margin-bottom: 10px; }

  footer .container .footer-top .footer-link ul li {
    line-height: 20px; }

  .info-time.flex-center {
    display: initial; }
    .info-time.flex-center .date-time-event {
      margin-bottom: 15px; }

  .step-profile .steps .progress-steps li::after {
    top: 20px; }
  .step-profile .steps .progress-steps li .number-step {
    width: 35px;
    height: 35px; }

  .list-icon .icon {
    flex: 0 0 25%;
    max-width: 25%; }

  .doanh-nghiep .img-slider h3 {
    font-size: 20px;
    line-height: 22px; }
  .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac {
    width: 30% !important; }

  .page-dashborad .box-vieclam-tot {
    padding: 22px 15px 15px 15px; }
    .page-dashborad .box-vieclam-tot .flex-center {
      display: initial; }
      .page-dashborad .box-vieclam-tot .flex-center span.text-alpha {
        display: none; }

  .list-file-save .box-vieclam-tot {
    padding-left: 0; }
  .list-file-save .img-save-hs {
    left: initial;
    right: 20px;
    top: 84px; }

  .logo-company {
    margin-bottom: 20px; }

  .title-page.mb-30.mt-60 {
    margin-bottom: 5px;
    margin-top: 40px; }

  .box-vieclam-tot {
    padding: 25px 10px; }
    .box-vieclam-tot .tag-time {
      padding-top: 5px; }
      .box-vieclam-tot .tag-time ul li {
        display: inline-block;
        margin: 10px 0; }
        .box-vieclam-tot .tag-time ul li a {
          padding: 7px 10px 10px 10px; }
    .box-vieclam-tot .info-company a {
      display: inherit; }

  .page-account .info-profile .title-profile h1 {
    font-size: 28px !important; } }

/*# sourceMappingURL=responsive.css.map */
