@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');
$green-text:#85B867;
$text:#2E2E2E;
$text-alpha:#858585;
$gradient-color: linear-gradient(90deg, #2F7DF7 0%, #0AE5FF 100%);
$border: #E6E6E6;
$bg-gray: #F5F7FB;
$brand: #3076D7;
$brand-2: #F0F6FF;
$icon:#858585;
$green:#85B867;
$green-text:#85B867;

.menu-mobile {
    display: none;
}
.call-buton{
    display: none;
}
.search-mobile{
    display: none;
}
.search-mobile-dis{
    display: none;
}
.ngon-ngu{
    display: none;
}
@media only screen and (max-width: 1601px) {
    .page-reg-student .bg-form-reg {
        padding: 50px;
        .page-reg-student .bg-form-reg .avatar-thumb img {
            max-width: 800px;
        }
    }
    .page-reg-recruiter{
        .section-info-reg{
            padding-bottom: 3px;
            .box-info-page-res{
                padding: 20px 20px 10px 20px ;
            }
        }
    }
   
}
@media only screen and (max-width: 1400px) {
    .page-reg-student .bg-form-reg .avatar-thumb img {
        max-width: 800px;
    }

}
@media only screen and (max-width: 1201px) {
    .page-reg-student .bg-form-reg .avatar-thumb img {
        max-width: 560px;
    }
    .bg-form-reg{
        .col-md-4 {
            -ms-flex: 0 0 40%;
            flex: 0 0 40%;
            max-width: 40%;
        }
        .col-md-8 {
            -ms-flex: 0 0 60%;
            flex: 0 0 60%;
            max-width: 60%;
        }
        
        
    }
    .list-icon {
        display: inline-flex;
        margin-left: -15px;
        margin-right: -15px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .page-detail-intership{
        .col-md-9 {
            -ms-flex: 0 0 67%;
            flex: 0 0 67%;
            max-width: 67%;
        }
        .col-md-3 {
            -ms-flex: 0 0 33%;
            flex: 0 0 33%;
            max-width: 33%;
        }
    }
    .content-right-detail {
        margin-top: 135px;
    }
}
@media only screen and (max-width: 1025px) {
    header{
        padding: 0 15px;
    }
    footer .container .footer-top {
        width: 100%;
        display: flex;
        justify-content: inherit;
        position: relative;
        .footer-link{
            display: inherit;
            width: 100% ;

        }
    }
    .pc-process {
        display: none;
    }
    .mb-process {
        display: block;
    }
    .process-section-about{
            background: #2f76d7 !important;
            margin: 0px 0;
            padding: 0;
            min-height: initial;
            h2{
                color: white;
                padding-bottom: 30px;
            }

        ul{
			li{
				position: relative;
				text-align: left;
				padding-left: 90px;
				margin-bottom: 20px;
				img{
					position: absolute;
					left: 20px;
					top: 0;
				}
				.infor-process{
					display: inline-block;
					width: 100%;
					b{
						font-size: 24px;
						color: white;
						display: inline-block;
						width: 100%;
					}
					span{
						font-size: 14px;
						color: white;
						display: inline-block;
						width: 100%;
					}
				}
			}
		}
    }
    .value-digico {
        margin-top: 30px;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 950px) {
   
    .page-detail-event{
        .col-md-8 {
            -ms-flex: 55%;
            flex: 0 0 55%;
            max-width: 55%;
        }
        .col-md-4 {
            -ms-flex: 45%;
            flex: 0 0 45%;
            max-width: 45%;
        }
        .show-sticky-form{
           position: initial !important;
           width: 100%;
        }
    }
    .logo-title {
        max-width: 135px;
    }
    .value-digico .item-value-digi {
        span{
            font-size: 14px;
        }
        b {
            font-size: 35px;
        }
    }
    .process-section-about h2 {
        margin-top: 40px;
    }
    .description-about{
        .team-box .member-team {
            width: 25%;
        }
        .col-md-6 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .infor-about{
            margin-bottom: 60px;
        }
    }
    .page-view-jobs-company{
        .avatar-thumb a {
            max-width: 210px;
        }
        .content-right-detail {
            text-align: center;
        }
    }
  
    h1{
        font-size: 32px !important;
        font-weight: 800;
    }
    h2{
        font-size: 28px !important;
        font-weight: 800;
    }
    h3{
        font-size: 24px !important;
        font-weight: 800;
    }
    h4{
        font-size: 18px !important;
        font-weight: 800;
    }
    h5{
        font-size: 16px !important;
        font-weight: 700;
    }
    h6{
        font-size: 15px !important;
        font-weight: 700;
    }
    .page-reg-student .bg-form-reg .avatar-thumb img {
        max-width: 100%;
    }
    .viec-lam-tot{
        .row{
        .col-md-6{
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 0;
            &:nth-last-child(1){
                margin-bottom: 0;
            }
        }
        }
        .box-vieclam-tot{
            margin: 10px 0;
        }
    }
    .latest-scholarships{
        .row{
            .col-md-6{
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 0;
                &:nth-last-child(1){
                    margin-bottom: 0;
                }
            }
            }
    }
    .right-header{
        span.icon-search{
            font-size: 22px;
        }
        
    }
    .menu nav.show-menu{
        display: inline-block !important;
    }
    body .ngon-ngu-pc{
        margin-top: -6px !important;
    }
    .right-header ul li {
        list-style: none;
        margin-left: 0;
        margin-right: 39px;
    }
    .ngon-ngu{
        display: block;
    }
.menu .btn-search .ic-search{
    position: fixed;
    top: 18px;
    right: 70px;
}
.menu-mobile {
    display: block;
    position: fixed;
    top: 15px;
    opacity: 1;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 1;
   i{
       font-size: 22px;
       color: $icon;
   }
}
.search-head input{
    &::placeholder{
        font-size: 13px;
    }
}
.btn-search.show-search-mb{
    padding-right: 0;
    .ic-search {
        top: 20px;
    }
}
header{
    background-color: white;
	border-bottom: 1px solid $border;
    .content-head {
        align-items: center;
        .logo img {
            padding: 15px 0;
			height: 61px;
        }
        .log-in-out.account{
            padding-right: 50px;
        }
        nav {
            display: none;
            ul {
                display: inline-block;
                width: 100%;
                padding: 0 !important;
                margin: 0 !important;
                li {
                    //width: 100%;
                    float: left;
                    padding: 10px !important;
                    a{
                        font-size: 14px;
                        color: $text;
                    }
					.btn-acc, .btn-acc-reg{
						margin-left: 14px;
					}
                    ul{
                        top: 45px;
                        right: 0;
                    }
                }
                .search-menu{
                    display: none;
                }
                
            }
            
        }
    }
    .close-menu-mb{
        display: none;
    }
    &.active{
        nav{
            display: inline-block !important;
        }
        .menu-mobile{
            .ic-menu-mb{
                display: none;
            }
           .close-menu-mb{
             display: block;
           }
        }
     
    }
    
}
   
header .content-head .menu.show-menu{
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    background: white;
    top: 62px;
    left: 0;
    flex-wrap: wrap-reverse;
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: 1;
    
}
.log-in-out.account{
    display: none;
}
.menu.show-menu{
    .log-in-out.account{
        display: inline-flex;
        width: 100%;
        padding: 0 0 10px 25px
    }
}
.btn-acc-reg:hover .sub-menu {
    right: initial;
}
.btn-acc-info:hover .sub-menu {
    width: 50% !important;
    left: 0 !important;
}
.list-icon .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    position: relative;
    flex: 0 0 20%;
    max-width: 25%;
    margin-bottom: 30px;
}
.row.we-are-fresherup{
    display: flex;
    flex-direction: inherit;
    h2{
        font-size: 32px !important;
    }
}
footer .container .footer-top {
    width: 100%;
    display: block;
    justify-content: inherit;
    position: relative ;
    .footer-link{
        display: inherit;
        width: 100% ;

    }
}
header{
    padding: 0 15px;
}

.page-list-intership{
    .box-search{
        margin-top: 25px;
    }
    .col-md-3, .col-md-9 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; 
        max-width: 100%; 
    }
}
.page-detail-intership {
    .content-detail{
        .btn-action{
            max-width: 100%;
        } 
    }
    .content-right-detail{
        text-align: center;
        margin-top: 40px;    
        .flex-center, .link-websites a{
            justify-content: center;
        } 
        .btn-save-hs, .btn-share-hs, .btn-save-hs-active{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
       .btn-action.align-left{
           text-align: center;
       }
    }
    .col-md-9, .col-md-3 {
        -ms-flex: 0 0 75%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.page-step-profile-student .box-shadow-step {
    padding: 30px;
}

.page-account{
    .col-md-3, .col-md-9 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-left-page-acc{
        position: fixed;
        top: 60px;
        z-index: 99;
        right: 0;
        left: 0;
        border-radius: 0;
        .tab-profile .nav{
            display: flex;
            overflow-x: scroll;
            height: auto;
            white-space: nowrap;
            width: 100%;
            flex-wrap: unset;
            justify-content: left;
            .nav-link{
                margin: 0px 7px;
                font-size: 18px;
                padding: 5px 0;
            }
        }
        &.box-vieclam-tot{
            padding: 10px;
        }
    }
    .col-right-page-acc{
        padding-top: 270px;
        overflow: hidden;
        
    }
    .content-edit-file .step-profile .steps .progress-steps li {
        width: 13%;
    }
}
.head-info-cv .head-info-right-cv .name-cv {
    h1{
        font-size: 45px;
    }
    span {
        font-size: 20px;
        margin-left: 5px;
        margin-bottom: 0;
    }
}
.page-your-cv .box-hoc-van {
    height: 100%;
   
}
.list-your-contact.flex-center{
    margin-top: 0;
    display: initial;
}
.list-your-contact a {
    display: inline-block;
    width: 100%;
    margin: 8px 0;
}
.page-dashborad {
   
    .tab-profile{
        margin-top: 0;
        .nav-link {
            padding: 6px 0 !important;
        }
    }
    .box-vieclam-tot {
        padding: 20px;
        
        .flex-center span, .flex-center p {
            margin: 0 2px 5px 0;
        }
        .total-ho-so-td {
            margin-left: 0;
        }
    }
}
.detail-dashboard-left .btn-action a {
    max-width: 100% !important;
}
.page-reg-student{
    .form-reg-student {
        margin-top: 30px;
        .flex-center{
            justify-content: space-between;
        }
    }
    .col-md-8, .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .section-info-reg{
        .row{
            justify-content: center;
        }
        .col-md-4 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .box-info-page-res{
            margin: 15px 0;
            img {
                height: 60px;
            }
        }
    }
}
.page-reg-recruiter .section-info-reg{
    padding-bottom: 0;
    .col-md-4 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }
    .box-info-page-res{
        padding: 5px 20px;
    }
} 
.doanh-nghiep {
    .feedback{
        padding-bottom: 50px;
    }
    .box-doi-tac {
        min-height: 100%;
        padding: 50px 0 20px 0;
        .dt-doanh-nghiep{
            padding: 50px 0;
            position: initial;
            margin: 0 auto;
            display: initial;
            height: 100%;
            .logo-doi-tac {
                position: initial;
                width: 100%;
                height: 100%;
                margin-top: 10px;
                .box-logo-dtac {
                    height: 100%;
                    text-align: center;
                    .logo-dtac{
                        width: 20% !important;
                        display: inline-block;
                        text-align: center;
                        float: none;
                        position: initial;
                        height: 90px !important;
                        img{
                            height: 60px !important;
                        }
                        &:nth-child(12), &:nth-child(11), &:nth-child(13), &:nth-child(14), &:nth-child(15){
                            display: none;
                        }
                    }
                }
            }
            .title-section h2 {
                text-align: center;
            }
        } 
    }
}

.form-reg-student .flex-center .form-group{
    width: 50%;
}
.section-post-td-intership .content-profile-recuiter .list-chinh-sach .custom-checkbox {
    width: 30%;
}
.show-neighbors .carousel-inner {
    width: 300%;
    left: 0;
}
.slider-csvc-about .carousel-control-prev {
    left: 0;
}
.slider-csvc-about .carousel-control-next {
    right: 0;
}
.box-filter{
    .btn-filter{
        position: absolute;
        right: 35px;
        top: 20px;
        font-size: 15px;
        font-weight: 600;
        color: $brand;
        display: block;
    }
    p{
        margin-bottom: 0;
    }
    .close-filter{
        display: none;
    }
    .content-filter {
        display: none;
    }
     &.show-filter{
        .content-filter{
            display: block;
        }
        .btn-filter{
            display: none;
        }
        .close-filter{
            display: block;
            position: absolute;
            top: 20px;
            right: 34px;
            font-size: 15px;
            color: #2f76d7;
            font-weight: 600;
        }
    }
}
.page-account .tab-profile .nav {
    display: flex;
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: unset;
    justify-content: left;
    .nav-link {
        font-size: 14px;
        padding: 5px 10px !important;
        width: auto;
        span{
            font-size: 12px;
        }
    }
}
.btn-save-hs-active, .btn-save-hs {
    height: 40px;
    margin-left: 0;
}
.btn-share-hs{
    margin-right: 0;
}
.intership {
    .box-banner {
        padding-bottom: 18px;
        a {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .flex-center {
        padding-top: 14px;
        display: inherit;
    }
}
.btn-acc-reg:hover .sub-menu {
    width: 50% !important;
    left: 0 !important;
    top: 80px;
}
.list-sm-news{
    .item-news {
            padding-bottom: 20px;
        
        .flex-center a {
            bottom: -15px;
        }
    }
    .col-md-3 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }
}
.news-related{
    .col-md-3{
        -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    }
}
.page-step-profile-student.page-account{
    .col-left-page-acc.box-vieclam-tot {
        padding-left: 50px;
        .tab-profile{
            margin-left: -50px;
        }
    }
}
.btn-search.show-search-mb .close-search{
    right: 50px;
    top: 0;
}
.search-head input{
    height: 60px;
}
.content-right-detail {
    p {
        text-align: left;
    }
    .avatar-thumb a {
        padding-top: 15%;
    }
}
.col-filter-intership.col-scholarship{
    margin-bottom: 0;
	.box-filter p{
		display: block;
	}
}
.list-internship-organization{
    margin-top: 30px;
    .page-account .tab-content {
        padding-top: 0;
    }
}
.page-detail-intership .detail-info-scholarship .row{
    flex-direction: row-reverse;
    h1{
        margin-bottom: 10px;
    }
    .content-detail{
        margin-top: 20px;
    }
    .link-websites{
        justify-content: left;
        a{
            font-size: 16px;
        }
    }
}
.list-fresher-job{
    .col-filter-intership{
        margin-bottom: 0;
    }
}
.page-list-services{
    .col-md-3{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.page-help-center.page-account{
    .action{
        text-align: center;
    }
} 
.section-make-question .content-form-question {
    max-width: 100%;
}
}

@media only screen and (max-width: 767px) {
    .list-info .item-info {
        margin-right: 0;
    }
    .content-right-detail p {
        text-align: center;
    }
    .section-scholarship .box-vieclam-tot .info-company .title-vieclam-tot {
        padding-right: 15px !important;
    }
    .latest-scholarships.section-scholarship .list-info .flex-center {
		align-items: stretch;
	}
    .box-vieclam-tot .logo-company{
        position: inherit;
        img {
            height: 45px;
        }
    } 
    .page-account .section-make-question, .page-help-center{
        .tab-content{
            padding-top: 0 !important;
        }
    }
   
    .page-account .col-right-page-acc {
        padding-top: 100px;
    }
    .list-fresher-job{
        .col-filter-intership{
            margin-bottom: 15px;
            .box-filter{
                &.show-filter .close-filter {
                    display: block;
                }
                .close-filter {
                    display: none;
                }
            } 
        }
    }
    .section-scholarship .list-info .item-info:last-child {
        margin-bottom: 0;
    }
    .content-right-detail .avatar-thumb a {
        padding-top: 48%;
    }
    .btn-search.show-search-mb .close-search {
        right: 0;
    }
    .btn-acc-reg:hover .sub-menu {
        top: 70px !important;
    }
    .item__third.avatar-thumb a:first-child{
        display: none !important;
    }
    .item__third.avatar-thumb a{
        padding-top: 0 !important;
        img{
            position: initial;
        }
        &:last-child{
            display: block !important;
        }
    }
    .head-info-cv .img-accept {
        max-width: 100px;
        top: -30px;
    }
    .page-step-profile-student.page-account{
        .col-left-page-acc.box-vieclam-tot {
            padding-left: 0;
            .tab-profile{
                margin-left: 0;
            }
        }
    }
    .create-interships{
        padding-top: 0;
    }
    .page-account{
        .tab-content{
            padding-top: 120px;
        }
    }
    .profile-user-img, .avatar-upload {
        margin: 0 auto;
        width: 90px;
    }
    .avatar-upload {
        .avatar-edit input + label:after{
            right: 7px;
            top: -2px;
            width: 75px;
        }
    }
    .name-account{
        margin-top: 20px;
        text-align: center;
    }
    .action-edit-hs{
        overflow-y: scroll;
    }
    .m-them-kinhnghiem .tooltip img {
        margin-bottom: 0;
    }
    .list-resume .flex-center {
        display: inherit;
        a {
            margin: 10px 15px;
            text-decoration: underline;
            display: inline-block;
        }
    }
    .action-edit-hs{
        margin-top: 20px;
        position: initial;
        .custom-switch{
            padding-left: 0;
            p{
                display: none !important;
            }
        }
    
    }
    .list-resume.m-them-kinhnghiem .box-hoc-van {
        padding-right: 0;
    }
    .head-question{
        display: inherit;
        margin-bottom: 20px;
    }
    .content-detail-news {
        max-width: 100%;
        margin-top: 30px;
    }
    .search-head input{
        padding-right: 48px;
        padding-left: 45px;
        &::placeholder{
            font-size: 12px;
        }
    }
    .page-detail-intership .content-right-detail .flex-center, .page-detail-intership .content-right-detail .link-websites a{
        justify-content: left;
    }
    .page-your-cv .box-hoc-van {
        span{
            &:last-child{
                margin-right: 0;
            }
        }
        .time-work{
            position: initial;
        }
    }
   
    .flex-center.info-reference{
        display: initial;
        span{
            margin-right: 0;
        }
    }
    .item-news .desc-news, .item-news .title-news a{
        -webkit-line-clamp: inherit;

    }
    .list-sm-news{
        padding-top: 0;
        .item-news {
            padding-bottom: 0;
            .flex-center a {
                bottom: 15px;
            }
        }
        .col-md-3 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        } 
       
    }
    .content-detail-event {
        max-width: 100%;
    }
    .section-scholarship{
        .list-info {
            align-items: flex-start;
            .item-info {
                padding-right: 0;
            }
        }    
        .box-vieclam-tot .info-company .title-vieclam-tot span {
            -webkit-line-clamp: 2000;
        }  
        &.latest-scholarships{
            .list-info{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
            }
            .item-info{
                margin:0 0 15px 0;
            }
        }  
    } 
    .latest-scholarships .box-vieclam-tot .logo-company img {
        height: 45px;
    }
    .detail-info-scholarship{
        .row{
            flex-direction: column-reverse;
        }
        .list-info {
            display: inherit;
        }
        .item-info {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            padding-right: 0;
        }
    }
    h1 {
        font-size: 26px !important;
    }
    .list-internship-organization {
        .row{
            flex-direction: column-reverse;
        }
        .page-account .tab-profile .nav-tabs{
            padding-bottom: 10px;
        }
        .page-list-intership .content-right-detail{
            margin-top: 0px !important;
        }
    }
    
    .section-success {
        h5{
            font-size: 22px !important;
        }
        .flex-center {
            display: inline-block;
        }
    }
    .page-list-intership .box-vieclam-tot{
        .info-company{
            .title-vieclam-tot {
                padding-right: 50px;
            }
        }
        .logo-company img {
            height: 45px;
        }
    }
    .box-vieclam-tot{
        &.list-scholarship{
            padding-left: 80px;
            .logo-company img {
                height: 45px;
            }
            .info-company{
                ul li {
                    width: 100%;
                }
            } 
        }
    }
   
    .logo-footer{
        img{
            height: 40px;
        }
    }
    .page-detail-news {
        .head-news .info-head-news {
            padding-top: 10px;
        }
        .detail-news{
            padding-top: 15px;
            h5{
                font-weight: 600;
                line-height: 22px;
            }
            .avatar-thumb{
                margin-bottom: 10px;
            }
        }
        .show-box-sticky-scroll {
            width: 100%;
            right: 0;
            top: 60px;
            border-radius: 0;
            padding: 15px 15px 5px 15px;
            ul li {
                margin: 5px 0;
                a {
                    color: #2E2E2E;
                    font-size: 14px;
                }
            }
        }
    }
    .head-news{
        min-height: 280px;
        .info-head-news {
            padding-top: 10px;
            p {
                max-width: 100%;
                padding: 0;
            }
        }
    } 
    .page-detail-event{
        .col-md-8, .col-md-4 {
            -ms-flex: 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .form-reg-event{
            margin-bottom: 30px;
        }
        
    }
    .page-about{
        .btn-action a{
            width: 100%;
            max-width: 100%;
        }
        h2 {
            font-size: 23px !important;
        }
        .logo-title {
            max-width: 120px;
        }
    }
    .description-about {
        margin-top: 20px;
        .team-box .member-team {
            width: 50%;
        }
        .infor-about {
            padding: 20px;
            img{
            height: 35px;
            }
            p{
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .process-section-about{
        ul li {
            padding-left: 75px;
            img{
                height: 35px;
            }
            .infor-process {
                padding-right: 10px;
                b{
                    font-size: 18px;
                }
            }
        }
    } 
   .partner-section{
        padding-bottom: 0;
        padding-top: 25px;
       h2{
           margin-bottom: 0;
       }
       .row.mt-40{
           margin-top: 0;
       }
   }

    .value-digico{
        .item-value-digi {
            margin-bottom: 20px;
            b {
                font-size: 24px;
            }
        }
        .col-md {
            width: 50%;
            display: inline-block;
        }
    } 
    .item-partner{
        border-right: 0;
        border-bottom: 1px solid $border;
        padding-bottom: 20px;
        padding-top: 20px;
        h6{
            margin-bottom: 15px;
        }
        img {
            height: 20px;
            margin: 5px 20px;
        }
    }
    .col-md{
        &:last-child{
            .item-partner{
                border-bottom: 0;
            }
        }
    }
    .digi-section-5{
        padding-top: 10px;
        margin-bottom: 0;
        .title-page{
            h2{
                display: initial;
                line-height: 35px;
            }
        }
    }
    .content-form{
        padding: 20px;
        .row{
            margin-right: 0;
            .col-md-6{
                width: 100%;
                padding-right: 0;
            }
        }
        
    }
    .head-title-event{
        &.flex-center {
            display: initial;
        }
        .info-event-right{
            padding-left: 0 !important;
            .btn-action a{
                max-width: 100% !important;
                margin-bottom: 20px;
            }
            h1 {
                font-size: 26px !important;
            }
        }
    }
    .box-countdown{
        display: initial;
        text-align: center;
        .info-time{
            .date-time-event {
                border-left: 0;
                padding: 0 ;
                margin: 0;
               p{
                   font-size: 14px;
               }
            }
        }
        #timer{
            justify-content: center;
            padding-bottom: 20px;
        }
    }
    .about-us{
        h2{
            margin-top: 25px;
        }
    }
    .section-detail-event{
        .row{
            flex-direction: column-reverse;
        }
        .row.mt-40{
            margin-top: 20px;
        }
    }
    .page-view-jobs-company .avatar-thumb a {
        max-width: 116px;
    }
    .page-account .content-edit-file .step-profile .steps .progress-steps li a{
      display: none;
    }
    .btn-acc-info:hover .sub-menu {
        width: 100% !important;
    }
    .btn-save-hs-active, .btn-save-hs {
        width: 50%;
    }
    .btn-acc-reg:hover .sub-menu {
        width: 100% !important;
        left: 0 !important;
        top: 43px;
    }
    .show-neighbors .carousel-inner {
        width: 100%;
    }
    .list-icon .icon{
        flex: 0 0 15%;
        max-width: 15%;
        a .circle-icon{
            width: 100px;
            height: 100px;
            svg{
                height: 50px;
            }
        }
    }
    .page-account #nav-info{
        .col-md-6:nth-child(1), .col-md-6:nth-child(2), .col-md-6:nth-child(3){
            width: 50%;
        }
        .col-md-6:nth-child(2){
            padding-right: 0;
        }
    }

    .tag-nganh-lien-quan a {
        padding: 4px 7px;
        font-size: 12px;
        margin: 0 3px 10px 0;
        i {
            font-size: 11px;
        }
    }
    .info-bottom{
        margin-top: 10px;
    }
    .box-hoat-dong .name-item {
        margin: 4px 0;
        display: inline-block;
        width: 100%;
    }
    .info-bottom ul li.date-post span {
        font-size: 11px;
    }
    
    
    .page-your-cv{
        .title-page.flex-center{
            .align-right{
                text-align: left;
            }
        }
        .btn-action-xet-duyet{
            display: initial;
        }
    }
    .btn-action-xet-duyet .btn-common-fill{
        &.btn-deny-pv, &.btn-aprrove-pv{
            margin: 20px 0 0 0;
            max-width: 100%;
        }
      
    }
    footer .container .footer-bottom .menu-footer a {
        padding: 0 10px 10px 10px;
        display: inline-block;
    }
   .doanh-nghiep{
    padding-top: 0;
    .section-doi-tac .title-gold {
        font-size: 45px;
    }
    .box-doi-tac .dt-doanh-nghiep {
        .logo-doi-tac .box-logo-dtac .logo-dtac{
            padding: 2px;
            margin: 3px;
            align-items: center;
            display: inline-flex;
            width: 22% !important;
        }
        .title-section h2 {
            font-size: 28px;
            line-height: 39px;
             }
        }
   }
    .page-reg-student{
        &.page-reg-recruiter .section-info-reg {
            .row.mt-50 {
                margin-top: 25px;
            }
            
            
            .box-info-page-res {
                padding: 5px;
            }
            h3{
                font-size: 18px;
            }
            .col-md-4 {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        .bg-form-reg {
            padding: 40px 15px 30px 15px;
            .avatar-thumb img {
                max-width: 100%;
            }
        }
        .section-info-reg .col-md-4 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .box-info-page-res{
            padding: 20px 30px;
        }
    }
    .page-dashborad{
        .action-edit-hs{
            position: initial;
            margin: 15px 0px 5px 0;
            justify-content: space-between;
        }
    }
 
    .detail-dashboard-right .tab-profile .nav-tabs{
        overflow-x: scroll;
        height: auto;
        white-space: nowrap;
        width: 100%;
        flex-wrap: unset;
        justify-content: left;
        .nav-link {
            font-size: 14px;
            padding: 5px 10px !important;
            width: auto;
            span{
                font-size: 12px;
            }
        }
    }
    .content-head nav ul li .btn-acc-reg{
        justify-content: center;
        &.btn-acc-sv{
            justify-content: left;
        }
    }
    .content-deatil-cv .flex-center h4 {
        margin-bottom: 0;
    }
    .list-your-contact a {
        font-size: 16px;
    }
    .page-your-cv {
        .box-hoc-van{
            margin: 5px 0;
            height: auto;
        }
        .action-your-cv {
            margin: 15px 0;
            a{
                margin-left: 0;
                margin-right: 10px;
            }
        }
        .title-page.flex-center {
            display: inherit;
        }
        .box-shadow-step {
            padding: 30px 20px;
        }
    }
    .head-info-cv {
        display: initial;
        .head-info-right-cv {
            padding-left: 0;
            margin-top: 20px;
            .your-postion {
                font-size: 20px !important;
                margin: 10px 0;
            }
            .name-cv h1 {
                font-size: 32px;
            }
        }
        .your-avatar-cv{
            max-height: 100px;
        }
    }
.width-100{
    -ms-flex: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.information-section-left-right.bg-gray .row .infor-columns-text-LeftRight{
    padding-left: 0;
}
.footer-top .footer-link{ 
    width: 100%; 
    line-height: 22px;
    ul { 
        padding-top: 5px !important; 
        margin-bottom: 10px; 
        li{ 
            line-height: 25px; 
        } 
    } 
    span{ 
        font-size: 12px !important; 
        white-space: normal !important; 
    } 
    .col-md-6{ 
        flex: 0 0 50%; 
                max-width: 50%; 
    } 
}
footer .container .footer-top {
    width: 100%;
    display: inherit;
    padding-top: 25px;
    .footer-link{
        padding-top: 20px;
        line-height: 20px;
    }
        
}
.box-search{
    width: 100%;
    padding: 0 15px;
    justify-content: center;
}
.we-are-fresherup{
    .width-100{
        margin-bottom: 30px;
        p{
            margin-bottom: 10px;
        }
    }
}
.we-are-fresherup .width-100:nth-last-child(1){
    margin-bottom: 0;
}
    .information-section-left-right .row.we-are-fresherup h5 {
        min-height: 23px;
    }
    .infor-columns-text-LeftRight{
        padding-top: 20px;
    }
.information-section-left-right{
    text-align: center;
}
.footer-bottom p{
    font-size: 13px;
}
.list-icon .icon{
    margin: 10px 30px;
}
.slider-csvc-about .carousel-control-next {
    right: 20px;
}
.slider-csvc-about .carousel-control-prev {
    left: 20px;
}

header .content-head nav ul li {
    display: inline-block;
    width: 100%;
    &:last-child{
        position: relative;
    }
    ul{
        top: 45px;
        right: inherit;
    }
}
.page-list-intership {
    .total-intership.mt-30 {
        margin-top: 20px;
        margin-bottom: -15px;
    }
    .box-search{
        margin-top: 10px;
        padding: 0;
    }
}
.number-of-openings{
    display: inherit;
    a{
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
    }
}
.page-detail-intership {
    .content-right-detail {
        margin-bottom: 0;
    }
    
    .box-vieclam-tot {
        .flex-center.mt-20{
            justify-content: left;
        }
        .flex-center {
            justify-content: center;
        }
        .list-info .item-info {
            padding: 0;
            flex: 0 0 50%;
        }
    }
    .modal-nop-hs .btn-action.flex-center {
        display: inherit;
        .btn-common-fill {
            width: 100%;
            margin: 5px 0;
        }
    }
}
.intership{
    margin-top: 20px;
    padding-bottom: 30px;
    .btn-action.center.mt-50.mb-20{
        margin-top: 15px;
    }
    .title-page.mb-50{
        margin-bottom: 20px;
        margin-bottom: 20px;
    }
    .category-list.mt-60{
        margin-top: 30px;
    }
    .box-banner{
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}
.pagging-page ul li a, .pagging-page ul li span{
    width: 30px;
    height: 30px;
    margin: 0 8px;
}
.box-vieclam-tot {
    .info-company .title-vieclam-tot h5{
        -webkit-line-clamp: inherit;
    }
}
.modal {
    padding: 80px 5px;
}
.tabs-info .nav-tabs .nav-link{
    font-size: 14px;
    padding: 0;
}
.page-step-profile-student {
    .noti-ky-tu {
        position: initial;
    }
    .box-shadow-step {
        padding: 20px;
    }
}
.step-profile .steps .progress-steps li{
    width: 50%;
    margin: 0 0px;
    &::after{
        top: 20px;
    }
    .number-step{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.profile-recuiter {
    .add-filed-profile{
        margin-top: 20px;
    }
    .link-social {
        margin: 0;
        display: inherit;
        .custom-select {
            max-width: 100%;
            margin: 10px 0;
        }
    }
    .tag-nganh-lien-quan a{
        font-size: 12px;
    }
}
.page-account .col-left-page-acc .tab-profile .nav .nav-link{
    font-size: 14px;
}
.section-post-td-intership .content-profile-recuiter {
    .thoigian-thuctap.salary .custom-select {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .ngay-thuc-tap.flex-center, .thoigian-thuctap.flex-center{
        justify-content: left;
        display: inherit;
        input {
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .flex-center.loai-hinh-tt {
        display: initial;
        &.time-nhan-viec{
            display: flex;
            .check-radio-custom{
                margin: 10px;
            }
        }
        .check-radio-custom {
            margin: 10px 0;
        }
}
}
.section-info-reg{
    .row.mt-50{
        margin-top: 10px;
    }
}
.page-reg-recruiter{
    .box-info-page-res {
        padding: 5px 10px;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
        display: none;
    }
}
.head-info-cv .head-info-right-cv .name-cv {
    h1{
        font-size: 24px;
        margin-bottom: 0;
    }
    span {
        font-size: 16px;
        margin-bottom: 0;
    }
}
.page-account.page-help-center{
    .btn-common-fill{
        max-width: 100%;
    }
}


}
    
@media only screen and (max-width: 500px) {
  
    .section-post-td-intership .content-profile-recuiter .list-chinh-sach .custom-checkbox {
        width: 100%;
        .label-custom{
            margin-bottom: 0;
        }
    }
    .page-account {
        .content-edit-file .step-profile .steps .progress-steps li {
            width: 16%;
            font-size: 13px;
            padding: 0 5px;
        }
    }

    .pagging-page ul li a, .pagging-page ul li span {
        width: 30px;
        height: 30px;
        margin: 0px 5px;
    }
    .logo-doi-tac{
        margin-top: 20px;
        ul{
            flex-wrap: wrap;
            display: flex;
            li{
                
                    flex: 0 0 50%;
                    max-width: 50%;
               
            }
        }
    }
    .list-info{
        flex-wrap: wrap;
        .item-info{
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 18px;
            .info-data {
                white-space: normal;
                span{
                    -webkit-line-clamp: unset;
                }
            }
        }
    }
    footer .footer-top {
        width: 100%;
        display: initial; 
        /* justify-content: space-between; */
        padding-top: 50px;
        position: relative;
        .footer-link{
            width: 100%;
            padding-top: 50px;
        }
    }
    .page-account{
        .col-right-page-acc {
            .flex-center.box-mail{
                display: initial;
            }
            .tab-content .email-submited{
                width: 100% !important; 
                margin-bottom: 20px;
            }
        }
    }
}
@media only screen and (max-width: 320px) {
    .col-filter-intership.box-vieclam-tot {
        margin-bottom: 10px;
    }
    footer .container .footer-top .footer-link ul li {
        line-height: 20px;
    }
    .info-time.flex-center{
        display: initial;
        .date-time-event{
            margin-bottom: 15px;
        }
    }
    .step-profile .steps .progress-steps li{
       
        &::after{
            top: 20px;
        }
        .number-step{
            width: 35px;
            height: 35px;
        }
    }
    .list-icon .icon {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .doanh-nghiep {
        .img-slider h3{
            font-size: 20px;
            line-height: 22px;
        }
        .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac {
      
            width: 30% !important;
        }
    }
    .page-dashborad{
        .box-vieclam-tot{
            padding: 22px 15px 15px 15px;
            .flex-center{
                display: initial;
                span.text-alpha{
                    display: none;
                }
            }
        }
    }
 
   .list-file-save {
       .box-vieclam-tot{
           padding-left: 0;
       }
    .img-save-hs {
        left: initial;
     right: 20px;
     top: 84px;
 }
   }
   .logo-company{
       margin-bottom: 20px;
   }
    .title-page.mb-30.mt-60{
        margin-bottom: 5px;
        margin-top: 40px;
    }
    .box-vieclam-tot{
        padding: 25px 10px;
        .tag-time {
            padding-top: 5px;
            ul li{
                display: inline-block;
                margin: 10px 0;
                a{
                    padding: 7px 10px 10px 10px;
                }
            }
        }
        .info-company {
            
            a{
                display: inherit;
            }
        }
    }
    .page-account .info-profile .title-profile h1{
        font-size: 28px !important;
    }
}