@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
$green-text:#85B867;
$text:#2E2E2E;
$text-alpha:#858585;
$gradient-color: linear-gradient(90deg, #2F7DF7 0%, #0AE5FF 100%);
$border: #E6E6E6;
$bg-gray: #F5F7FB;
$brand: #3076D7;
$brand-2: #F0F6FF;
$icon:#858585;
$green:#85B867;
$green-text:#85B867;

/*
@import './css-import/list-page';*/

  a{
	  &:hover{
		  text-decoration: none;
	  }
  }
  *{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}
h1{
	font-size: 45px;
	font-weight: 800;
}
h2{
	font-size: 35px;
	font-weight: 800;
}
h3{
	font-size: 22px;
	font-weight: 800;
}
h4{
	font-size: 20px;
	font-weight: 800;
}
h5{
	font-size: 18px;
	font-weight: 700;
}
h6{
	font-size: 16px;
	font-weight: 700;
}
p{
	font-size: 14px;
}
strong, b, span, i, label{
	font-size: 13px;
}

section{
	padding: 40px 0;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.title-section{
		display: inline-block;
		width: 100%;
		font-weight: 600;
		text-align: center;
		a{
			color: $text;
			align-items: flex-start;
			img{
				height: 40px;
				margin: 0 10px 10px 10px;
			}
		}
	

}
.title-page{
	display: inline-block;
	width: 100%;
	font-weight: 900;
	text-align: left;
	h6{
		font-weight: normal;
	}
}

a{
	text-decoration: none;
}
.fw-normal{
	font-weight: normal;
}

.flex-center{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}
.pt-90 {
	padding-top: 90px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}
.pd-left{
    padding-left: 30px;
}
.pd-right{
    padding-right: 30px;
}
.center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.text-main{
	color: $text;
}
.text-brand{
	color: $brand;
}
.text-red{
	color: #E85D5D;
}

.text-green{
	color: $green;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-alpha{
	color: $text-alpha;
}
.btn.focus, .btn:focus{
	box-shadow: none;
}
body {
	font-family: 'Inter', sans-serif;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 1.6;
}
.container{
	max-width: 1200px;
	margin: auto;
}
.btn-action{
	display: inline-block;
	width: 100%;
	a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		img{
			padding-left: 10px;
		}
	}
	button{
		outline: none;
	}
	span{
		padding-left: 5px;
		font-weight: 900;
	}
}
.btn-common{
	display: inline-block;
	background: transparent;
	padding: 0 50px;
	text-align: center;
	transition: all .3s ease-in-out;
	border: 1.5px solid white;
	color:  white; 
	border-radius: 2px;
	height: 50px;
	line-height: 51px;
	font-weight: 600;
	span{
		margin-left: 5px;
	}
	&:hover{
		opacity: 0.8;
		color: white;
		background: $green-text;
		border-color: $green-text;
	}
}
input[type=button], input[type=submit], input[type=reset] {
	color: white !important;
}
.btn-common-fill, .submit-dang-nhap, .submit-dang-ky, input[type=button], input[type=submit]{
	display: inline-block;
	background: $brand;
	padding: 0 24px;
    color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	border: 1.5px solid $brand;
	color:  white; 
	height: 50px;
	line-height: 48px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 2px;
	&:hover{
		opacity: 0.8;
		color: white;
		background: $green-text;
		border-color: $green-text;
	}
	i, span{
		font-weight: 600;
	}
}
.submit-dang-nhap, .submit-dang-ky{
	text-transform: unset;
	width: 100%;
}
.language{
	display: none;
}
.scrollbar {
	width: 100%;
	margin: auto;
	overflow-x: auto;
}
::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: #DDE7F4;
}

::-webkit-scrollbar
{
	width: 3px;
	height: 0;
	background-color: #F5F7FB;
}

::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #F5F7FB;
}
textarea{
	height: 150px !important;
}
input, select, textarea{
	border: 1px solid $border;
	border-radius: 4px;
	color: $text-alpha;
	width: 100%;
	padding: 5px 15px;
	height: 40px;
	&::placeholder{
		color: $text-alpha;
	}
	&:focus{
		border: 1px solid $brand;
	}
}
::-webkit-calendar-picker-indicator {
	filter: invert(0.6);
}

/* --------------Checkbox-------------------- */

.input-custom {
	display: none;
}

.label-custom {
	color: $text;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	margin-bottom: 15px;
	font-weight: normal !important;

	&:checked {
		color: $brand  !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 14px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 20px;
		height: 20px;
		opacity: 1;
		border: 1px solid $border;
		box-sizing: border-box;
		border-radius: 4px;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	&:checked {
		color: $text  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: white;
	background-color: $brand;
	border: 1px solid $brand;
}

.input-custom:checked+.label-custom {
	color: $brand !important;
	
}
/* check-radio-custom */

.check-radio-custom {
	margin: 5px 0 15px 0;
	display: flex;
}
.check-radio-custom [type="radio"]:checked+label{
	color: $brand !important;
}
.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	display: inline-block;
	color: $text;
	margin-bottom: 0;
	font-weight: normal;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 20px;
	height: 20px;
	border: 1px solid $text-alpha;
	border-radius: 100%;
	background: #fff;
}
.check-radio-custom [type="radio"]:checked + label::before{ 
	border: 1px solid $brand !important;
}
.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: $brand;
	position: absolute;
	top: 5px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 0 20px;
}
.avatar-thumb{
	display: inline-block;
    width: 100%;
	a{
		position: relative;
		padding-top: 56%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
	
}
.form-control:focus {
    border-color: $brand;
    outline: 0;
    box-shadow: none;
}
header{
	display: inline-block;
	width: 100%;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
	padding: 0 70px;
	background: white;
	border-bottom: 1px solid $border;
	.width-menu{
		width: 99%;
		margin: auto;
	}
}

.content-head{
	display: flex;
	justify-content: space-between;
	.logo{
		display: flex;
		align-items: center;
		img{
			padding: 5px 0;
			max-height: 65px;
		}
	}
	nav{
		display: flex;
		align-content: center;
		-ms-flex-pack: center !important;
		-ms-flex-align: center !important;
		align-items: center !important;
		transition: all .3s ease-in-out;
		padding: 0;
		ul{
			display: flex;
			align-content: center;
			-ms-flex-pack: center !important;
			-ms-flex-align: center !important;
			align-items: center !important;
			transition: all .3s ease-in-out;
			margin-bottom: 0;
			position: relative;
			li{
				list-style: none;
				a{
					color: $text;
					font-weight: 700;
					text-decoration: none;
					padding: 7px 15px;
					.ti-angle-down{
						&::before{
							font-size: 8px;
							padding-left: 5px;
						}
					}
					&:hover{
						color: $brand;
					}
					
				}
			
				
			}
		}
	}
}
.header-right{
	display: flex;
	align-items: center;
}
.account .no-login{
	display: flex;
	align-items: center;
}

.sub-menu{
		opacity: 0;
		visibility: hidden;
		border-top: 4px solid $brand !important;
		position: absolute;
		padding:15px 20px!important;
		right: 0;
		top: 37px;
		width: 250px !important;
		left: inherit !important;
		border-top: 2px;
		background: #FFFFFF;
		box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
		border-radius: 0px 0px 2px 2px !important;
		li:nth-child(2){
			padding: 0 !important;
		}
		a{
			color: $text !important;
			background-color: white;
			border: 0;
			padding: 5px;
			transition: all 0.3s linear;
			display: inline-block;
			width: 100%;
			font-weight: normal;
			padding: 8px 0;
			transition: 0.5s;
			&:hover{
				color: unset;
				background: #F5F7FB;
				padding-left: 8px;
				border-radius: 2px;
			
			}
			img{
				margin-right: 10px;
				height: 20px;
			}
		}
		.flex-center{
			justify-content: left;
		}
}
.btn-acc {
	height: 36px;
	border: 1px solid $brand;
	font-weight: 600;
	display: flex;
	align-items: center;
	width: 130px;
	justify-content: center;
	font-size: 14px;
	background: white;
	a{
		color: $brand;
	}
	&:hover{
		background: $brand;
		a{
			color: white;
		}
		
	}
}
.btn-acc-reg{
	height: 36px;
	border: 1px solid $brand;
	font-weight: 600;
	display: flex;
	align-items: center;
	background: $brand;
	margin-left: 20px;
	width: 130px;
	justify-content: center;
	font-size: 14px;
		a{

			color: white;
		}
	&:hover{
		a{
			color: $brand;
		}
		background: white;
	
	}
}
.btn-acc-reg{
	&:hover{
		.sub-menu{
			opacity: 1;
			visibility: visible;
			
		}
	}
	
}
.btn-acc-info{
	a{
    	display: inline-block;
		font-size: 14px;
	}
	&:hover{
		.sub-menu{
			opacity: 1 !important;
			visibility: visible !important;
			top: 40px;
		}
	}
}

/* ----------------------- Modal----------------------- */
.modal{
	padding: 80px 0;
}
.modal-body{
	padding-bottom: 30px;
	p{
		font-weight: normal;
	}
}
.modal-content{
    margin: auto;
	border: 0;
	border-radius: 2px;
	padding: 15px 20px;
}
.modal-dialog {
	max-width: 560px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.modal-header {
	padding: 0 10px;
	border-bottom: 0;
	.close{
		position: absolute;
		right: 40px;
		font-weight: normal;
		font-size: 35px;
		padding: 5px;
		top: 20px;
		color: $text-alpha;
		opacity: 1;
	}
}
.modal-title{
	font-weight: 600;
}
/*-------------------------menu---------------------------*/

.content-head .menu nav>ul>li.submenu>ul {
	justify-content: center;
	margin-bottom: 0;
    display: inherit !important;
}

.menu nav ul>li>a {
	
	&::before {
		content: "";
		display: inline-block;
		font-family: 'themify';
		font-size: 9px;
		font-weight: 100;
		position: absolute;
		right: 0;
		top: 5px;
        
	}
    &::before:last-child(1){
        display: none;
    }
}
.menu {
	position: relative;
	z-index: 1;
    display: flex;
    align-items: center;

	nav {
		ul {
			padding: 0;

			li {
				list-style: none;
				padding: 5px 0;
				position: relative;
				&:nth-child(2){
					padding: 0 20px;
				}
				
				button{
					background: none;
					border: none;
					outline: none;
				}
				i {
					display: none;
				}

				a {
					padding: 0 15px;
					position: relative;
				}
				

				ul {
					position: absolute;
					top: 53px;
					width: 200px;
					left: 0;
					opacity: 0;
					visibility: hidden;
					background: white;
					box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
					border-radius: 4px;
					padding: 5px 15px !important;

					li {
						padding: 5px;
						transition: all 0.3s linear;
						a {
							display: inline-block;
							width: 100%;
							font-weight: normal;
							padding: 8px 0;
							transition: 0.5s;
							color: $text;
							&::before {
								display: none;
							}

							&:hover {
								color: unset;
								background: $bg-gray;
								padding-left: 8px;
								border-radius: 2px;
							}
						}
					}
				}

				&:hover {
					ul {
						opacity: 1;
						visibility: initial;
					}
				}

				&.active {
					a {
						color: $brand;
					}

					ul {
						li {
							a {
								color: $text;
								
								&:hover, &.active {
									color: $brand  !important;
								}
								
							}
							
						}
					}
				}
				
			}
			
		}
	}
}
.content-head .menu nav > ul > li.submenu > ul{
	list-style-type: none !important;
	left: 68px;
	z-index: 1;
}
/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed; 
	left: 0;
	top: 0;
	z-index: 999;
	background: #fff;

	nav {
		padding: 0 !important;
		ul{ 
			li{ 
				a{
					font-size: 16px;
				}
				a.call-phone {
					display: flex;
					align-items: center;
					color: #85C86F;
					span{						
						font-size: 14px;
						padding-left: 5px;
						font-weight: 600;
						
					}
					.icon-call{
						&::before{
							font-size: 15px;
						}
					}
				}
			}
	}
		
	}
	.logo{
		a{
			img{
				transition-delay: 1s;
				padding: 10px 0px;
			}
		}
	}

	
}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}
.section-why-join-page{
    border: none !important;
}
.menu nav ul > li > a:nth-last-child(1)::before{
    display: none;
}


.scroll-mobile{
	background: white;
	margin-top: 20px;
}

.ngon-ngu-pc{
	img{
		width: 26px;
	}
}
.right-header{
	ul{
		display: flex;
		align-items: center;
		margin-bottom: 0;
		li{
			list-style: none;
			margin-left: 40px;
		}
	}
}
.menu-mobile{
	display: none;
}

.search-head {
	display: none;
	left: 0;
	transition: 0.5s;
	box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
	background-color:#fff;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	z-index: 999;
	.ic-search{
		position: absolute;
		left: 15px;
		display: block !important;
		top: 22px;
	}
	input {
		border-radius: 0;
		border: none;
		padding: 5px 10px;
		width: 100%;
		padding-left: 55px;
		z-index: 999;
		height: 70px;
		&::placeholder{
			font-size: 16px;
		}
	}
}
.close-search{
	display: none;
}
.content-search{
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}
.btn-search {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding: 0 50px;
	&.show-search-mb {
		.ic-search {
			display: none;
		}
		.close-search{
			display: block;
			z-index: 9999;
			position: relative;
			top: 5px;
			}
	
			.search-head{
				display: block;
			}
	}
}
/*=======================================Intership==============================*/ 
.close-filter, .btn-filter{
	display: none;
}
.list-icon{
	display: inline-flex;
	margin-left: -15px;
	margin-right: -15px;
	justify-content: center;
	.icon{
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 13px;
		position: relative;
		&:hover .circle-icon{
			background: $brand;
			border-color: $brand;
		}
		&:hover .circle-icon path{
			border-color: $brand;
			fill: white;
		}
		&:hover .circle-icon i{
			color: white;
		}
		a{
			color: $text;
			&:hover > h6{
				color: $brand;
			}
			.circle-icon{
				width: 123px;
				height: 123px;
				border-radius: 50%;
				background: #F5F7FB;
				border: 1px solid #E6E6E6;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: 0.5s;
				
				&:hover i{
					color: white;
				}
				img{
					height: 77px;
					
				}
				i{
					font-size: 33px;
					color: $brand;
					transition: 0.5s;
				}
			}
			h6{
				text-align: center;
				font-weight: normal;
				padding-top: 20px;
				transition: 0.5s;
				display: -webkit-box;
				line-height: 27px;
				-webkit-line-clamp: 1 !important;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
		&:last-child{
			&:hover .circle-icon path{
				stroke: #fff;
				fill: transparent !important;
			}
		}
	}
}
.intership{
	.flex-center{
		justify-content: space-between;
		padding-bottom: 0;
	}

	.pic-ture{
		position: relative;
		padding-top: 56%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
	
}
.logo-doi-tac{
	margin-top: 50px;
	ul{
		display: flex;
		li{
			list-style: none;
			flex: 0 0 16.666%;
            max-width: 16.666%;
			text-align: center;
			img{
				height: 60px;
				&:hover{
					opacity: .6;
				}
			}
		}
	}
}
/*======================================== Việc làm tốt ========================*/ 
@mixin webkit-line-clamp{
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.viec-lam-tot{
	background: $bg-gray;
	.box-vieclam-tot{
		margin: 15px 0;
	}
}
.box-vieclam-tot{
	background: white;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 2px;
	padding: 25px;
	margin: 28px 0;
	position: relative;
	.logo-company{
		position: absolute;
		right: 20px;
		top: 20px;
		img{
			height: 90px;
		}
	} 
	.info-company{
		.title-vieclam-tot{
			padding-right: 15px;
			h5{
				@include webkit-line-clamp();
				padding-bottom: 5px;
				margin-bottom: 3px;
			}
			span{
				color: $text-alpha;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
		a{
			display: flex;
			justify-content: space-between;
			width: 100%;
			color: $text;
			&:hover{
				color: $brand;
			}
		}
	}
	.tag-time{
		padding-top: 20px;
		ul{
			li{
				display: inline;
				a{
					background: $bg-gray;
					padding: 7px 15px 10px 15px;
					border-radius: 28px;
					color: $text-alpha;
				}
			}
		}
	}
	&.list-scholarship{
		border-radius: 2px;
		border: 1px solid #DADADA;
		position: relative;
		padding: 20px 130px 20px 20px;
		display: inline-block;
		margin-bottom: 0;
	
		.info-company{
			ul{
				display: inline-block;
				width: 100%;
				margin-top: 10px;
				margin-bottom: 0;
				li{
					list-style: none;
					width: 50%;
					float: left;
					margin-top: 10px;
					position: relative;
					padding-left: 30px;
					&:first-child{
						width: 100%;
					}
					span{
						color: #7C7C7C;
					}
					img{
						position: absolute;
    					left: 0;
					}
				}
			}
			.title-vieclam-tot span {
				-webkit-line-clamp: 4;
			}
		}
	}
}
.latest-scholarships{
	.box-vieclam-tot {
		position: relative;
		.logo-company img {
			height: 90px;
		}
		.info-bottom{
			width: fit-content;
			position: absolute;
			right: 20px;
			bottom: 25px;
		}
	}
	
	.box-vieclam-tot .info-company .title-vieclam-tot {
		h5{
			-webkit-line-clamp: inherit;
	
		}
	}
	.list-info {
		padding-top: 20px !important;
	}
	&.section-scholarship{
		.list-info{
			display: inherit;
			.flex-center{
				margin-top: 10px;
				justify-content: left;
			}
		}
	}
}
.list-info{
	display: flex;
    align-items: center;
	//justify-content: space-between;
	padding-top: 10px;
	.item-info{
		margin-right: 40px;
		&:last-child{
			margin-right: 0;
		}
		.name-item{
			display: flex;
			align-items: center;
			margin-bottom: 5px;
			img{
				max-width: 18px;
			}
			span{
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 500;
				color: $text-alpha;
				padding-left: 5px;
			}
		}
		.info-data{
			padding-left: 20px;
			white-space: nowrap;
			overflow: hidden;
			span{
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
	}
}
.detail-info-scholarship{
	
	.link-websites a{
		color: $brand !important;
	}
	ul{
		padding-left: 10px;
		li{
			margin-bottom: 8px;
		}
	}
	.item-info{
		padding-right: 40px;
	}
	.info-data span{
		font-weight: 600;
	}
}
.page-detail-intership {
	
	.content-right-detail{
		position: relative;
		p{
			color: $text;
		}
		&.box-vieclam-tot .info-bottom .date-post-category ul li.date-post {
			background: #ECFAE4;
		}
		.img-verify{
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}
	
}

.info-bottom{
	margin-top: 20px;
	.date-post-category{
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
	ul{
		display: flex;
		align-items: center;
		margin-bottom: 0;
		li{
			list-style: none;
			margin-right: 10px;
		}
		li.date-post{
			background: $brand-2;
			padding: 10px 5px;
			display: flex;
			align-items: center;
			height: 33px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 2px;
			span{
				padding: 0 5px;
				color: $brand;
			}
		}
		li.category-post{
			border: 1px solid $border;
			padding: 10px 15px;
			height: 33px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 2px;
			background: #fff;
			a{
				color: $text-alpha;

			}
		}
	}
	a{
		transition: 0.5s;
		&:hover{
			opacity: 0.6;
		}
	}
}

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
	width: 100%;

	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {

			a,
			span {
				width: 32px;
				height: 32px;
				margin: 0 10px;
				text-align: center;
				font-size: 14px;
				display: inline-block;
				text-decoration: none;
				color: $text-alpha;
				padding: 4px;
				font-weight: 500;


				&.active {
					color: white;
					background-color: $brand;
					padding-top: 5px;
				}
			}

			&:hover {
				a {
					color: $brand;
				}
			}
		}
	}
}
/*-------------------------Về FresherUp---------------------------*/
.information-section-left-right {
	&.bg-gray {
	  .row {
		.infor-columns-text-LeftRight {
		  padding-left: 80px;
		  padding-right: 0 !important;
		}
	  }
	}
	.thumbnail-about-avatar {
	  position: relative;
	  border-radius: 12px;
	  display: block;
	  img {
		width: 100%;
	  }
	}
	.row {
	  align-items: center;
	  display: flex;
	}
	.infor-columns-text-LeftRight {
	  h3 {
		margin-bottom: 20px;
	  }
	  padding-right: 80px;
	}
	.row.we-are-fresherup{
		display: flex;
		flex-direction: inherit;
		h2{
			font-size: 45px;
		}
		h5{
			min-height: 42px;
		}
	}
  }
  
/*-------------------------Footer---------------------------*/
.logo-footer{
	img{
		height: 60px;
	}
}
footer{
	background: $bg-gray;
	overflow: hidden;
	.container{
		position: relative;
		.footer-top{
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding-top: 50px;
			position: absolute;
			.footer-link{
				width: 40%;
				span{
					text-transform: uppercase;
					font-size: 13px;
					font-weight: 700;
					white-space: nowrap ;
				}
				ul{
					padding-top: 20px;
					li{
						list-style-type: none;
						line-height: 28px;
						a{
							font-size: 13px;
							color: $text-alpha;
						}
					}
				}
			}
		}
		.pic-footer{
			width: 100%;
			margin: auto;
			padding: 30px 30px 0 0;
			img{
				width: 100%;
			}
		}
		.footer-bottom{
			text-align: center;
			.social-footer{
				svg{
					width: 30px;
					height: 30px;
					margin: 0 5px;
				}
				&:hover{
					opacity: 0.6;
				}
			}
			.menu-footer{
				padding-top: 20px;
				a{
					color: $text;
					padding: 0 15px;
				}
				img{
					height: 36px;
				}
			}
		}
	}


}

/* ---------------Slider homepage -------------*/
.box-banner{
		background: #FFFFFF;
		box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
		border-radius: 0px 0px 2px 2px;
		padding-bottom: 30px;
	a{
	
		font-size: 18px;
		font-weight: 600;
		@include webkit-line-clamp();
		-webkit-line-clamp: 2;
		color: $text;
	}
	.btn-action{
		padding-right: 15px;
	}
}
.slider-csvc-about{
	position: relative;
	.show-neighbors{
		overflow: inherit;
	}
	.carousel-indicators{
		bottom: -45px;
	}
	.item__third{
		padding: 0 15px;
	}
	.carousel-indicators li{
		opacity: 1;
		width: 6px;
    	height: 6px;
		border-radius: 100%;
		background-color: #E4E6EB;
		border: 0;
	}
	.carousel-indicators li.active{
		background-color: #3076D7;
		width: 30px;
		border-radius: 40px;
	}
	.carousel-control-prev {
		display: none;
	}
	
	.carousel-control-next {
		display: none;
	}
	
	.carousel-control-prev {
		left: 100px;
		background: transparent;
	}
	.carousel-control-next {
		right: 100px;
		background: transparent;
	}
	.avatar-thumb a {
		position: relative;
		padding-top: 33%;
		display: block;
	}
}
$fragment_width: 25%;

.show-neighbors {
  overflow: hidden;

  .item__third:first-child, 
  .item__third:last-child {
    display: none;
  }

  @media (min-width: 500px) {
    .carousel-indicators {
      margin-right: $fragment_width;
      margin-left: $fragment_width;
    }

    .carousel-control-prev, 
    .carousel-control-next {
      width: $fragment_width;
      z-index: 11;  /* .carousel-caption has z-index 10 */
    }

    .carousel-inner {
      width: (100% - 2 * $fragment_width) * 3;
      left: 3 * $fragment_width - 100%;
    }

    .carousel-item-next:not(.carousel-item-left),
    .carousel-item-right.active {
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0);
    }

    .carousel-item-prev:not(.carousel-item-right),
    .carousel-item-left.active {
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0);
    }

    .item__third {
      display: block !important;
      float: left;
      position: relative;  /* captions can now be added */
      width: 33.33333333%;
    }
  }
}
/* --------------- Page List Internship -------------*/

.page-list-intership{
	#faq .card .card-header .btn-header-link.collapsed:after {
	
		content: "\e64b";
		color: #2E2E2E;
	  }
	  #faq .card .card-header .btn-header-link:after {
		content: "\e648";
		font-family: 'themify';
		font-weight: 700;
		position: absolute;
		right: 8px;
		top: 10px;
		color: $brand;
	
	  }
	.col-filter-intership{
		.accordion{
			overflow-y: auto;
			max-height: 470px;
		
		}
		.card{
			border: 0;
		}
		.form-group{
			margin: 20px 0;
		}
	} 
	.btn.btn-header-link{
		font-size: 14px;
		color: $brand;
		&.collapsed{
			color: $text;
		}
	}
	.card-body {
		padding: 0 25px;
		.label-custom{
			font-size: 13px !important;
		}
	}
	.content-filter .card-header {
		background-color: transparent;
		border-bottom: 0;
		padding: 5px 0 0 0;
	}
	.box-search{
		margin-right: 0;
		width: 100%;
		margin: auto;
		margin-top: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		input{
			width: 100%;
			background: #FFFFFF;
			box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
			border-radius: 2px 0 0 2px;
			border: 1px solid transparent;
			height: 60px;
			padding-left: 25px;
		}
		button {
			height: 60px;
			outline: none;
			display: flex;
			align-items: center;
			border-radius: 0 2px 2px 0;
		}
	}
	.total-intership{
		font-size: 16px;
		span{
			font-size: 16px;
		}
	}

	p{
		color: $text-alpha;
	}
	.box-vieclam-tot {
		position: relative;
		.info-company a {
			display: inherit;
		}
		.logo-company{
			position: absolute;
			right: 20px;
			top: 20px;
			img {
				height: 90px;
			}
		} 
	}
	.box-search i{
			font-size: 20px;
		
	}
}
.select2-container{
width: 100% !important;
}
.select2-results__option {
    padding: 8px 10px;
}
.select2-container--default .select2-selection--multiple{
	border: 1px solid $border;
}
.select2-container .select2-search--inline .select2-search__field{
	margin: 0;
	padding: 10px;
	line-height: 20px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: $brand;
}
.select2-dropdown, .select2-container--default.select2-container--focus .select2-selection--multiple{
	border: 1px solid $border;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color: $brand;
	border: 0;
	color: white !important;
	margin-top: 10px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	color: white !important;
	
}
.select2-container--default .select2-selection--multiple{
	line-height: 0;
	
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	line-height: 22px;
}
/* --------------- Sort filter -------------*/
.col-filter-intership{
	&.box-vieclam-tot{
		margin-top: 15px;
		padding: 15px;
		.custom-checkbox{
			margin-top: 5px;
		}
	}
	p{
		font-size: 14px;
		color: $brand;
		text-transform: uppercase;
		font-weight: 600;
	}
	label{
		color: $text;
		font-weight: 600;
		font-size: 14px;
	}
	.form-group{
		margin: 25px 0;
	}
	.text-alpha.text-month{
		font-weight: normal;
		font-size: 13px;
	}

}	
.search-normal{
	position: relative;
	input{
		padding-left: 35px;
		&::placeholder{
			font-size: 13px;
		}
	}
	img{
		position: absolute;
		left: 10px;
		top: 12px;
	}
}
/* --- Range salary ------ */
.custom-range-salary{
	.slider-container {
		padding-top: 20px;
		display: grid;
		position: relative;
		padding-bottom: 30px;
		.number--label {
			position: absolute;
			top: 30px;
			left: 0;
			display: block;
			margin-top: 10px;
			aspect-ratio: 1;
			border-radius: 50%;
			font-size: 16px;
			transition: 366ms cubic-bezier(0.3, 0.6, 0.4, 1.125);
			color:$text;
		}
		
		.input-slider {
			place-self: center;
			border-radius: 100vh;
			width: 100%;
			height: 3px;
			background-color: #E6E6E6;
			border: 0;
			-webkit-appearance: none;
			appearance: none;
			outline: none;
			padding: 0;
			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 22px;
				height: 22px;
				background: #fff;
				border:3px solid $brand;
				padding:5px;
				cursor: pointer;
				border-radius:100%;
			  }
		}
	}
	
}

/* -------------------------Page-detail-intership -----------------------*/
.date-post-category-change .date-post{
	background-color: #ECFAE4 !important;
}
.page-detail-intership{
	.box-vieclam-tot{
		.info-company{
			margin-bottom: 20px;
		}
		.tag-time{
			padding-top: 0;
		}
	}
	.avatar-thumb a{
		max-width: 116px;
		margin: 0 auto;
	}
	p{
		font-size: 16px;
		&.text-uppercase{
			margin-bottom: 5px;
			margin-top: 24px;
		}
	}
	.box-vieclam-tot{
		
		.list-info .item-info {
			.info-data{
				span{
					font-weight: 600;
				}
			}
		}
		
		.flex-center {
			justify-content: left;
			a{
				color: $text-alpha;
				font-size: 13px;
				img{
					margin-right: 5px;
					height: 18px;
				}
			}
			&.number-of-openings{
				a{
					color: $text;
					font-size: 14px;
					font-weight: 600;
					margin-right: 20px;
					&:nth-child(2){
						color: $brand;
					}
				}
			}
		}
	}
	.content-detail{
			
	.btn-action{
		max-width: 460px;
		text-align: center;
		a{
			width: 100%;
		}
		&.align-left img{
			margin-right: 5px;
	
		}
		span.text-alpha{
			font-weight: normal;
		}
	}
	}
.modal-nop-hs{
	.btn-action.flex-center{
		display: flex;
		.btn-common-fill{
		width: 50%;
		}
	}
	.no-cv{
		text-align: center;
	}
}
}
.modal-nop-hs{
	.modal-header{
		min-height: 20px !important;
	}
}
.content-detail{
	
	.box-hoat-dong{
		padding: 15px;
	}
	.text-content {
		font-weight: normal;
		line-height: 26px;
		margin: 15px 0;

	}

	.tags-per .date-post{
		background-color: #E8EBF1;
		span{
			color: $text-alpha;
		}
	}
	.info-bottom ul {
		display: initial;
		li{
			&.date-post{
				border-radius: 28px;
				float: left;
				margin: 10px 10px 5px 0;

			}
		}
	}

}
.box-hoat-dong{
	background: #F5F7FB;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	padding: 20px 0px;
	p{
		margin-bottom: 10px;
	}
	.list-info{
		padding-top: 0;
	}
	.name-item{
		margin-right: 30px;
	}
	.section_heading{
		margin-bottom: 0;
		font-size: 14px;
		color: $text;
		font-weight: 600;
	}
}
.link-websites{
	justify-content: left;
	margin: 20px 0;
	&:hover{
		a{
			color: $brand;
		}
	}
	a{
		color: $brand;
		font-size: 16px;
		display: flex;
		align-items: center;
		img{
			margin: 0 5px;
			margin-right: inherit;
		}
	}
}
.content-right-detail{
	&.box-vieclam-tot{
		padding: 18px;
	}
	
	p{
		font-weight: 600
	}
	.avatar-thumb a{
		padding-top: 48%;
	}
	.link-websites a{
		color: $brand;
	}
	.btn-common-fill{
		width: 100%;
		img{
			margin: 0 5px;
		}
	}
	.flex-center{
		justify-content: center;
	}
}
.btn-save-hs, .btn-share-hs, .btn-save-hs-active{
	background-color: white;
	border: 1px solid $text-alpha;
	color: $text-alpha;
	padding: 5px 15px;
	border-radius: 2px;
	text-align: center;
	font-weight: 600;
	justify-content: center !important;
	width: 100%;
    display: inline-block;
	img{
		margin-right: 5px;
	}
}
.btn-save-hs-active{
	border: 1px solid $brand;
	color: $brand !important;
}
button:focus{
	outline: none;
}
.section-success{
	text-align: center;
	margin-top: 100px;
	min-height: 550px;
	p strong{
		font-size: 14px;
	}
	h5{
		color: $brand;
		font-size: 20px;
		font-weight: 600;
	}
	.img-success{
			width: 100px;
			margin-bottom: 24px;
	}
	.flex-center {
		margin-bottom: 10px;
		a{
			margin: 0 20px;
		}
		img{
			width: 18px;
			margin-right: 5px;
		}
	}
	
}

@keyframes confetti-slow {
	0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
	
	100% { transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); }
  }
  
  @keyframes confetti-medium {
	0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
	
	100% { transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg); }
  }
  
  @keyframes confetti-fast {
	0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
	
	100% { transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg); }
  }
  
  
  .confetti-container {
	perspective: 700px;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  }
  
  .confetti {
	position: absolute;
	z-index: 1;
	top: -10px;
	border-radius: 0%;
  
	&--animation-slow {
	  animation: confetti-slow 2.25s linear 1 forwards;
	}
	
	&--animation-medium {
	  animation: confetti-medium 1.75s linear 1 forwards;
	}
	
	&--animation-fast {
	  animation: confetti-fast 1.25s linear 1 forwards;
	}
  }
/*   Page col-scholarship */
.section-scholarship{
	.list-info{
		
		.item-info {
			padding-right: 40px;
		}
	}
	.info-bottom {
		margin-top: 0;
		.date-post-category{
			justify-content: end;
		}
	}
	.box-vieclam-tot .info-company .title-vieclam-tot {
		padding-right: 140px !important;
		span{
			-webkit-line-clamp: 3;
		}
	}
}
.col-scholarship{
	.education-level{
		padding-left: 5px;
			li{
				list-style: none;
				margin: 8px 0;
				display: inline-block;
				width: 100%;
				a{
					color: $text;
					font-size: 14px;
				}
				&.active{
					a{
						color: $brand;
					}
				}
			}
	}
}
/* list-internship-organization */

.list-internship-organization{
	.info-data span{
		font-weight: normal;
	}
	.info-bottom ul li.date-post{
		background-color: #F0F6FF;
	}
	.custom-btn{
		justify-content: space-between !important;
		a{
			width: 100% !important;
			margin-right: 10px;
		}
	}
	
	.content-right-detail{
		margin-top: 15px;
	}
	.none-bold{
			font-size: 14px;
			font-weight: normal;
	}
	.page-account{
		.tab-profile .nav-tabs{
			display: flex;
			margin-bottom: 30px;
			.nav-link{
				margin-right: 30px;
				font-weight: 600;
				text-transform: uppercase;
				color: $text-alpha;
				&.active{
					border-bottom: 1px solid $brand;
				}
			}
		}
	}
}
/* Upload avatar */
.profile-user-img{
	width: 145px;
	border-radius: 100%;
	border: 4px solid #fff;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  }
  
  .avatar-upload {
	  position: relative;
	  max-width: 145px;
	  margin-bottom: 20px;
	  .avatar-edit {
	
		display: none;
		  position: absolute;
		  right: 0;
		  left: 0;
		  z-index: 1;
		 bottom: -2px;
		  input {
			  display: none;
			  + label {
				cursor: pointer;
				  &:after {
					
					  content: " ";
					  background: url(../images/ic-camera.png) no-repeat;
					  display: inline-block;
					  position: absolute;
					  right: 11px;
					  top: -15px;
					  background-size: contain;
					  margin: 0 auto;
					  width: 122px;
					  height: 44px;
					  opacity: 0.6;
				  }
			  }
		  }
	  }
	  &:hover{
		.avatar-edit{
			transition: all .3s ease-in-out;
			display: block;
		}
	}
  }
  .name-account{
	font-size: 24px;
	font-weight: normal;
  }
/* Modal nop ho so */
.modal-nop-hs{
	.modal-dialog{
		max-width: 560px;
	}
	.modal-body{
		img{
			display: block;
			text-align: center;
			margin: 0 auto;
		}
		h5{
			//color: $brand;
			text-align: center;
		}
		span{
			color: $brand;
			font-weight: 600;
			font-size: 14px;
		}
		.btn-action a{
			height: 40px;
			text-transform: unset;
			max-width: fit-content;
			width: 100%;
			margin: 10px;
		
		}
		.btn-bo-qua{
			background-color: white;
			color: $brand;
			border: 1px solid $brand;
		}
		.content-ava{
			position: relative;
			padding-left: 90px;
		}
		h3{
			font-size: 18px;
			text-align: left;
		}
		.ava-modal{
			position: absolute;
			left: 0;
			padding: 15px;
			background-color: white;
			border-radius: 100%;
			box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
			img{
				max-width: 45px;
			}
		}
	}
	.text-alpha.text-uppercase{
		text-align: left;
		font-weight: 600;
		margin-bottom: 0;
	}
	.hs-cua-ban{
		margin: 20px 0 0 0;
		display: inline-block;
		width: 100%;
		.check-radio-custom {
			align-items: center;
			margin: 40px 0;
		}
		.ava-modal{
			left: 15px;
			padding-top: 0;
			padding-left: 0;
			background-color: transparent;
			box-shadow: none;
			img{
				max-width: 50px;
			}
		}
		.content-ava{
			padding-left: 80px;
			position: relative;
			width: 100%;
			h5{
				color: $brand;
				text-align: left;
			}
			p{
				font-size: 16px;
				color: $text-alpha;
				margin: 0;
				
			}
		}
		.edit-ho-so{
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
/* Modal share ho so */
.modal-share-hs{
	.modal-header{
		padding-left: 0;
	}
	.modal-content{
		border-top: 8px solid $brand;
		border-radius: 2px 2px 0 0;
	}
	.flex-center{
		justify-content: left;
		a{
			margin: 0 15px;
			&:hover{
				box-shadow: 0px 2px 6px 6px #0000000d;
			}
			&:first-child{
				margin-left: 0;
			}
		}
	}
}
/* Modal nop ho so */
.tabs-info {
	.nav {
		justify-content: center;

	}

	.nav-tabs .nav-link {
		border: none;
		font-size: 20px;
		color: $text;
		font-weight: 500;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		color: $brand;
		background-color: #fff;
		border-bottom: 2px solid $brand;
		font-weight: 600;
		text-align: center;
	}

}
.google-button{
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	background-color: white;
	height: 40px;
	text-align: center;
    padding-top: 6px;
	font-weight: 500;
	margin: 15px 0;
	font-size: 14px;
	img{
		margin-right: 5px;
	}

}
.border-line{
		margin-top: 25px;
		border-top: 1px solid #D1D1D1;
		width: 100%;
		position: relative;
		padding: 10px 0px 10px 0;
	span{
		color: $text-alpha;
		position: absolute;
		top: -12px;
		z-index: 2;
		left: 0;
		right: 0;
		background-color: white;
		text-align: center;
		width: fit-content;
		margin: 0 auto;
		padding: 0 10px;
	}
}
.modal-dang-nhap{
	//z-index: 99;
	.modal-header{
		min-height: 20px;
	}
	.tabs-info .nav{
		border-bottom:0;
		
		.nav-link {
			margin: 0 20px;

		}
	}
	
	label{
		font-size: 14px;
	}
	.quen-mk{
		float: right;
		color: $brand;
		font-size: 13px;
	}
	p{
		font-size: 14px;
		text-align: center;
		margin-bottom: 5px;
	}
}
.modal-forget-pw{
	z-index: 1052;
	.modal-content{
		box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.25);
	}
}

/* ------------- Dang ky - sinh vien -----------*/
.page-reg-student{
	.bg-form-reg{
		background-color: $bg-gray;
		padding: 50px 150px;
		.avatar-thumb img{
			max-width: 930px;
		}
	}
}
.form-reg-student{
	background: #FFFFFF;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 4px;
	padding: 30px;
	.flex-center{
		.form-group:first-child{
			margin-right: 20px;
		}
	}
	p{
		margin-bottom: 5px;
		a{
			margin-left: 5px;
		}
	}
	.btn-action a{
		width: 100%;
	}
}

.box-info-page-res{
	background: #FFFFFF;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 4px;
	text-align: center;
	padding: 40px 30px;
	margin: 5px 0;
	img{
		height: 84px;
		margin-bottom: 20px;
	}
	
}
/* Custom select box */
.custom-select {
	height: 40px;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid $border;
	position: relative;
	padding: 0;
	background: none;
  }
  
  .custom-select select {
	display: none; /*hide original SELECT element: */
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
	position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    vertical-align: 0.255em;
    content: "\e64b";
    font-family: 'themify';
    color: #ABABAB;
    top: 10px;
    right: 25px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,
  .select-selected {
	color: $text;
	padding: 8px 16px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 14px;
  }
  
  /* Style items (options): */
  .select-items {
	padding: 15px 0;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: white;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 2px;
	max-height: 140px;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
	display: none;
  }
  
  .select-items div:hover,
  .same-as-selected {
	background-color: #f8f9fa73;
  }
/* -------------------- Step dang ky tai khoan ho so sinh vien ------------------ */
.page-step-profile-student{
	.box-shadow-step{
		padding: 50px 100px;
	}
	.step-profile{
		label{
			font-weight: 500;
		}
		.steps{
			text-align: center;
		}
	}
	
	.box-shadow-step{
		.btn-common-fill{
			cursor: pointer;
			position: relative;
			height: 40px;
			text-transform: unset;
			font-size: 14px;
			line-height: 37px;
			max-width: 350px;
			//max-width: fit-content;
			width: 100%;
		}
	}
	.noti-ky-tu{
		position: absolute;
		right: 28px;
	}
	.form-group{
		margin: 12px 0;
	}
	label{
		font-size: 16px;
	}
	input, textarea{
		color: $text;
		font-size: 14px;
	}

	.select-items {
		overflow-y: auto;
		max-height: 250px;
	}

	.country-code{
		width: 100px;
		margin-right: 15px;
	}
	.note-form{
		display: inline-block;
		width: 100%;
		margin-bottom: 15px;
	}
	textarea{
		height: 150px;
	}
	.tab-hoan-tat{
		label{
			font-weight: 600;
		}
		&.col-filter-intership p{
			color: $text !important;
			font-weight: 600;
			font-size: 16px;
		}
		.text-uppercase.text-main{
			font-weight: 700;
		}
		.select2-container{
			width: 100% !important;
		}
		.select2-container .select2-search--inline .select2-search__field{
			width: 100% !important;
			font-size: 14px;
			&::placeholder{
				color: $text;
			}
		}
		.form-group.flex-center{
			justify-content: left;
			.check-radio-custom{
				margin-right: 20px;
			}
		}
	}

}
.modal-body{
	.btn-common-fill{
		max-width: 100% !important;
	}
}

/* Custom step tai khoan */
.step-profile{
.steps {
	padding: 5px 0;
	width: 100%;
	display: inline-block;
	.progress-steps {
	display: flex;
	justify-content: center;
	}
	.progress-steps li {
	  margin: 0 10px;
	  list-style-type: none;
	  width: 45%;
	  float: left;
	  font-size: 12px;
	  position: relative;
	  text-align: center;
	  color: $text-alpha;
	}
	.progress-steps li .number-step {
	  color: $text-alpha;
	  width: 2.5em;
	  height: 2.5em;
	  content: '';
	  border: 1px solid  $text-alpha;
	  display: block;
	  text-align: center;
	  margin: 0 auto .7em auto;
	  border-radius: 50%;
	  background-color: white;
	  font-size: 14px;
	  font-weight: 500;
	  line-height: 30px;
	  position: relative;
	  z-index: 1;
	 
	}
	.progress-steps li:after {
	  width: 100%;
	  height: 1px;
	  content: '';
	  position: absolute;
	  background-color: #EBEBEB;
	  top: 1.3em;
	  left: -50%;
	  // z-index: -1;
	}
	.progress-steps li:first-child:after {
	  content: none;
	}
	.progress-steps li.active {
	  color:  $green;
	}
	.progress-steps li.active .number-step {
	  background: $green;
	  border: 0;
	  color: white;
	}
	.progress-steps li + li:after {
		background-color:  $border;
	  }
	.progress-steps li.active + li:after {
	  background-color:  #fff;
	}
	.progress-steps .done{
		color: $brand;
		.number-step{
			background-color: $brand;
			border: 0 !important;
		}
	}
	.progress-steps .done + li.active:after{
		background-color:  $green;
	  }
	
  }
}
/*---------------------- End custom step tai khoan ----------------*/

.box-shadow-step{
	background: #FFFFFF;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 15px 30px;
}


.tag-nganh-lien-quan{
	p{
		font-size: 16px;
	}
	a{
		border: 1px solid #3076D7;
		border-radius: 90px;
		background-color: white;
		padding: 4px 10px;
		color: $brand !important;
		font-size: 13px;
		margin: 0 10px 10px 0;
		display: inline-block;
		i{
			margin-left: 5px;
			font-weight: 600;
		}
	}
}

/*---------------------- Thong tin tai khoan ----------------*/
.profile-name{
	border-bottom: 1px solid $border;
	padding-bottom: 15px;
	p{
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 0;
	}
}
.btn-acc-info{
	.sub-menu a:hover {
		color: $brand !important;
		background: transparent;
		padding-left: 0;
		border-radius: 0;
	}
	&.btn-acc-reg{
		background-color: transparent !important;
		border: transparent !important;
		margin: 0 !important;
		width: auto !important;
		i{
			display: block !important;
			color: $text-alpha;
			font-weight: 700;
			&::before{
				font-size: 12px !important;
			}
		}
		
	}
	img{
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		margin-right: 0px;
	}
}

.btn-your-cv{
	height: 40px;
	border: 1px solid $brand;
	border-radius: 4px;
	color: $brand;
	padding: 5px;
	font-weight: 600;
	width: 100%;
    display: inline-block;
    text-align: center;
	img{
		margin-right: 5px;
	}
}
.page-account{
	.sub-menu {
		.flex-center {
			justify-content: left;
		}
	}
	.modal-dang-nhap{
		.btn-common-fill{
			max-width: 100%;
		}
	}

	.tab-profile{
		.nav-link{
			padding: 10px 0;
		}

		.nav{
			display: initial;
		}
		.nav-tabs{
			border-bottom: 0;
		}
		.nav-tabs .nav-link{
			color: $text;
			border: 0;
		}
		.nav-tabs .nav-link.active{
			border: 0;
			color: $brand;
			background-color: transparent;

		}
		
	}

	.col-right-page-acc{
		.flex-center.box-mail{
			justify-content: left;
		}
		.tab-content{
			.email-submited{
				background-color: $bg-gray;
				width: 75%;
				margin-right: 22px;
				cursor: not-allowed;
			}
				
			
		}
	}

	.info-profile {
		justify-content: left;
		position: relative;
	
		.ava-profile {
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 50%;
			width: 95px;
	
		}
	
		.title-profile {
			position: relative;
			padding-left: 115px;
		}
		.attach-file {
			color: #454545;
			font-weight: 600;
			margin-right: 15px;
		}
		.input-file {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
		.btn-file{
			background-color: white;
			padding: 2px 10px;
			color: $brand;
			border: 1px solid $brand;
			font-size: 13px;
		}
	}
	.btn-common-fill{
		height: 40px;
		text-transform: unset;
		font-size: 14px;
		line-height: 37px;
		max-width: 350px;
		width: 100%;
		margin: 20px auto 0 auto;
	}
	.content-du-an{
		.btn-compelte-hs{
			margin-right: 0;
    		margin-top: 0;
			max-width: 295px;
		}
		.btn-action-steps{
			.align-right.flex-center{
				margin-top: 20px;
			}
			.btn-skip-step{
				cursor: pointer;
				display: inline-block;
				width: 100%;
				font-size: 14px;
				font-weight: 600;
				margin-right: 30px;
				color: $text-alpha;
			}
		}
		
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		background-color: #EAF1FB;
		color: #3076d7 !important;
		padding: 5px 8px;
		font-size: 15px;
		margin-top: 4px !important;
		display: flex!important;
		flex-direction: row-reverse!important;
	
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
		background-color: #3076d7;
		padding: 0px 7px;
		border-radius: 100%;
		margin-left: 5px !important;
	}
	.btn-dissable{
		color: #BDBDBD;
		background-color: $border;
		border: 0;
	}
}
.btn-action-steps{
	display: inline-block;
	width: 100%;
	.btn-common-fill{
		max-width: 130px;
		span{
			font-weight: 700;
			margin: 0 5px;
		}
		&.btn-back-step{
			background-color: white;
			border: 1px solid $text-alpha;
			color: $text-alpha;
			float: left;
			span{
				color: $text-alpha;
			}
		}
		&.btn-next-step{
			float: right;
		}
	}
}
.add-filed-profile{
	display: inline-block;
	margin-bottom: 30px;
	span{
		font-weight: 800;
		margin-right: 5px;
	}
}

.change-pw{
	label{
		color: $text;
		font-weight: normal;
	}
	.flex-center{
		justify-content: left;
		.form-group{
			margin-right: 15px;
			width: 100%;
			label{
				color: $text-alpha;
			}
		}
	}
}
.modal-add-filed{
	.modal-body{
		padding-bottom: 15px;
	}
	.form-group {
		margin: 7px 0;
	}
	.check-radio-custom [type="radio"]:checked + label, .check-radio-custom [type="radio"]:not(:checked) + label{
		color: $text-alpha;
	}
	label{
		font-size: 14px;
	}
	.btn-common-fill{
		max-width: 100%;
	}
	.flex-center{
		justify-content: left;
		.check-radio-custom{
			margin-right: 15px;
		}
	}
}
.m-them-kynang{
	label strong{
		font-size: 14px;
	}
}

/* -----------------Custom step su ho so hinh vien---------------*/
.col-filter-intership.col-scholarship{
	.box-filter p{
		display: none;
	}
}
.none-bold{
	font-weight: normal !important;
}
.btn-action-back-ds{
	img{
		margin-right: 15px;
	}
}
.content-right-detail{
	.none-bold{
		position: relative;
		padding-left: 35px;
		text-align: left;
		img{
			position: absolute;
			left: 0;
		}
	}
}
.page-detail-intership .content-right-detail {
	.none-bold{
		margin-bottom: 5px;
	}
	.link-websites {
		margin: 25px 0 15px 0;
	}
	.view-map{
		margin-bottom: 20px;
		display: inline-block;
		text-align: left;
		padding-left: 35px;
		color: $brand;
		font-weight: normal;
		font-size: 14px;
		img{
			margin-left: 8px;
		}
	}
}
.box-hoc-van{
	.action-edit-hs{
		.ic-dissable{
			opacity: 0.2;
		}
	}
}
.action-edit-hs{
	display: flex;
	height: 100%;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
	a{
		margin: 0 20px;
	}
}
.step-profile .steps .progress-steps .number-step img{
	height: 22px;
}
.page-account{
	.content-edit-file{
		.step-profile {
			margin-top: 20px;
			.steps .progress-steps li{
				width: 14%;
				&.doing{
					color: $brand;
					.number-step{
						border: 1px solid $brand;
					}
					
				}
				&.not-complete{
					color: #858585;
					.number-step{
						border: 1px solid #858585;
					}
				}
				
			}
		}
	}

}
.list-phone-number{
	width: 100%;
    margin-right: 10px;
}
.box-hoc-van{
	position: relative;
	cursor: pointer;
	border: 1px solid $border;
	border-radius: 2px;
    padding: 15px 20px;
	background-color: white;
	margin-bottom: 15px;
	padding-right: 150px;
	h6{
		font-weight: 700;
		margin-bottom: 3px;
	}

	i{
		font-size: 13px;
		margin-right: 5px;
	}
}
.content-hoc-van{
	h6.text-alpha.text-uppercase{
		font-weight: normal ;
		text-transform: uppercase;
	}
}
/* Resume */
.add-experience{
	.btn-action-steps {
		a{
			text-decoration: unset;
		}
		
	}
	
}
.detail-experience{
	.box-hoc-van h6 span{
		color: $text-alpha;
		font-weight: normal;
		padding-left: 10px;
	}
}
.resume-notcomplete, .add-experience{
	text-align: center;
	margin-top: 40px;
	p{
		font-size: 16px;
		margin-bottom: 0;
	}
	img{
		max-width: 150px;
		margin: 0 auto;
	}
	a{
		color: $brand;
		text-decoration: underline;
		font-size: 16px;
		margin: 0 0 15px 0;
		display: inline-block;
		width: 100%;
	}
	.btn-action {
		margin-bottom: 15px;
		a{
			color: #fff;
			text-decoration: unset;
		}
	}
	
}
.btn-action-steps{
	.btn-back-step span{
		margin-left: 0 !important;
	}
}
.level-skill{
	height: 6px;
	background-color: $border;
	position: relative;
	border-radius: 20px;
	margin-top: 10px;
	div{
		&.level-range{
			position: absolute;
			left: 0;
			background-color: $brand;
			height: 6px;
			border-radius: 20px;
		}
	}
}
.btn-complete{
	background-color: #85B867;
	max-width: fit-content !important;
	border: transparent;
	color: #fff !important;
	span{
		margin-left: 0;
	}
}
.modal-congra{
	.modal-body{
		text-align: center;
		h5{
			color: $brand;
			font-size: 24px;
		}
		button, a{
			margin: 0 10px !important;
		}
	}
	img{
		height: 77px;
		margin-bottom: 20px;
	}
}
.list-resume{
	.btn-common-fill{
		margin-right: 0 !important;
	}
	.flex-center{
		justify-content: end;
		a{
			
			margin: 0 15px;
			text-decoration: underline;
		}
	}
	.btn-common-fill{
		width: fit-content;
		max-width: fit-content;
		margin: 0;
		margin-left: 20px;
		text-decoration: unset !important;
	}
	&.m-them-kinhnghiem .tooltip {
		margin: 0 15px;
		z-index: 1;
		.tooltiptext{
			background-color: transparent;
			box-shadow: none;
			width: fit-content;
			bottom: -17px;
			left: -5px;
			right: 0;
			color: $text-alpha;
		}
	}
}
.modal-congra{
	.modal-header{
		min-height: 20px;
	}
}
.modal-setting{
	.custom-switch{
		padding-left: 0;
	}
	.custom-input-setting{
		display: inline-block;
		width: 100%;
		margin-bottom: 15px;
		position: relative;
		img{
			position: absolute;
			right: 10px;
			bottom: 8px;
		}
	}
	p {
		font-size: 16px;
		span{
			font-weight: 500;
			color: $text;
		}
	}
	ul {
		padding-left: 20px;
		li{
			color: $text-alpha;
			font-size: 13px;
		}
	}
	
	.lable-erro{
		color: #EB0000;
	}
}
.custom-switch{
	&.flex-center{
		justify-content: left;
		margin-top: 30px;
		p{
			margin-bottom: 0;
			padding-left: 15px;
		}
		input[type=checkbox]{
			height: 0;
			width: 0;
			visibility: hidden;
		}
		
		label {
			cursor: pointer;
			text-indent: -9999px;
			width: 50px;
			height: 26px;
			background: #C7C7CC;
			display: block;
			border-radius: 100px;
			position: relative;
			margin-bottom: 0;
		}
		
		label:after {
			content: '';
			position: absolute;
			top: 3px;
			left: 5px;
			width: 20px;
			height: 20px;
			background: #fff;
			border-radius: 90px;
			transition: 0.3s;
		}
		
		input:checked + label {
			background: $brand;
		}
		
		input:checked + label:after {
			left: calc(100% - 5px);
			transform: translateX(-100%);
		}
		
		label:active:after {
			width: 130px;
		}
	}
}
.salary-fresher{
	.check-radio-custom [type="radio"]:checked + label:before, .check-radio-custom [type="radio"]:not(:checked) + label:before{
		top: 8px;
	}
	.check-radio-custom [type="radio"]:checked + label:after, .check-radio-custom [type="radio"]:not(:checked) + label:after{
		top: 12px;
	}
	.check-radio-custom{
		margin-top: 0;
		margin-bottom: 0;
    	margin-right: 5px;
		width: 50%;
	}
	.custom-select{
		width: 50%;
	}
}
.create-fresher{
	padding-top: 0 !important;
}
.box-expired{
	h6{
		opacity: 0.5;
	}
}
.create-interships{
	.radio-type-intership{
		display: flex;
		justify-content: left;
		margin-top: 15px;
		.check-radio-custom, .custom-checkbox{
			margin-right: 30px;
			margin-bottom: 0;

			label{
				font-size: 16px;
				color: $text-alpha;
			}
		}
	}
	.add-filed-profile{
		margin-bottom: 10px;
	}
	.form-group {
		margin: 15px 0;
	}
	.thoigian-thuctap.salary .custom-select{
		margin-left: 20px;
	}
	.btn-action a{
		width: 100% !important;
		max-width: 350px;
	}
}
.modal-listinterships{
	padding: 0;
	.btn-line{
		background-color: transparent;
		color: $brand !important;
		width: fit-content;
   		 max-width: fit-content;
		 margin-top: 0;
		 font-weight: normal;
		 border-radius: 2px;
		 img{
			margin-right: 5px;
		 }
	}
	.modal-dialog {
		max-width: 100%;
	}
	.modal-content{
		height: 100%;
		padding: 10px 0 0 0;
	}
	.btn-back-popup{
		color: $text-alpha;
		font-size: 14px;
		img{
			margin-right: 5px;
		}
	}
	.modal-header{
		justify-content: center;
		padding-bottom: 15px;
		border-bottom: 1px solid $border;
		.close {
			right: inherit;
			left: 30px;
			top: 35px;
		}
		p{
			font-size: 13px;
			margin: 0 30px 0 30px;
		}
	}
	.detail-dashboard-right {
		background-color: #fff;
		.tab-profile {
			margin-bottom: 30px;
			.nav-tabs {
				border-bottom: 0;
				.nav-link {
					width: fit-content;
					margin: 0 30px;
					text-transform: uppercase;
					color: $text-alpha;
					font-size: 14px;
					&.active{
						color: $brand;
					}
				}
			}
		}
		.ly-do-tu-choi-hs{
			margin-left: 15px;
			img{
				margin-top: 5px;
			}
		}
	}
	.box-hoc-van{
		box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
		border: 0;
		margin-bottom: 30px;
		h6{
			font-weight: 500;
		}
		.flex-center{
			justify-content: left;
			span{
				color: $text-alpha;
				margin-right: 15px;
			}
		}
		i{
			font-size: 20px;
			color: $text-alpha;
		}
	}
	.tab-content{
		max-width: 755px;
		margin: 0 auto;
	}
}
.modal-nop-hs .modal-body{
	span{
		color: $text-alpha;
		font-weight: normal;
		text-align: right;
	}
	label{
		text-align: left;
	}
}
/* -----------------End Custom step su ho so hinh vien---------------*/
.modal-change-email{
	.modal-body{
		padding-bottom: 20px;
		.ma-xac-thuc-email{
			font-size: 24px;
			text-align: center;
			letter-spacing: 15px;
		}
	}
}
.m-them-kinhnghiem.m-them-kynang{
	&.modal-add-filed .flex-center{
		img{
			position: absolute;
			right: 25px;
		}
	}
}
.m-them-kinhnghiem{
	padding-top: 40px;
	.modal-add-filed .flex-center{
		align-items: center;
		.custom-select{
			margin-right: 10px;
		}
	}
	.label-custom{
		color: $text-alpha;
		font-size: 13px;
		padding-left: 25px;
		&:before {
			width: 18px;
			height: 18px;
		}
	}
	/* Tooltip container */
.tooltip {
	opacity: 1;
	position: relative;
	display: inline-block;
	img{
		margin-left: 5px;
		margin-bottom: 7px;
	}
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 180px;
	color: $brand;
	text-align: center;
	padding: 5px;
	background: #FFFFFF;
	box-shadow: 0px -1px 16px rgba(0, 0, 0, 0.13);
	border-radius: 2px;
   
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }
}
.list-file-apply{
	.box-vieclam-tot{
		position: relative;
		.title-vieclam-tot{
			span{
				font-size: 14px;
				margin-top: 5px;
			}
		}
		p{
			font-size: 13px;
			margin: 10px 0;
			padding-right: 90px;
		}
		.flex-center.box-bottom{
			justify-content: space-between;
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
			.logo-company{
				position: absolute;
				right: 20px;
				top: 20px;
				img {
					height: 90px;
				}
			} 

		}
	}

}
.list-file-save{
	.box-vieclam-tot{
		position: relative;
		padding-left: 60px;
	}

	.img-save-hs{
		cursor: pointer;
		position: absolute;
		top: 46%;
		height: 20px;
		left: 20px;
	}
}
.label-expired{
	background-color: #F1F1F1;
	color: #838383;
	
}
.label-da-nhan-hs, .label-tu-choi-hs, .label-doi-duyet-hs, .label-moi-nhan-hs, .label-expired{
	padding: 3px 14px;
	font-weight: 500;
	text-align: center;
	font-size: 13px !important;
	border-radius: 28px;
}
.label-da-nhan-hs{
	color: $green;
	background: #F0FCEB;
	
	
}
.label-tu-choi-hs{
	color: #E85D5D;
	background: #FFF0E7;
}
.label-doi-duyet-hs{
	color: #FBB03B;
	background: #FFF7E1;
}
.label-moi-nhan-hs{
	color: $brand;
	background: #E4F1FF;
}
.ly-do-tu-choi-hs{
	position: relative;
	padding-left: 30px;
	color: #E85D5D;
	margin-bottom: 15px !important;
	
	img{
		height: 22px;
		position: absolute;
		left: 0;
	}
}
.page-step-profile-student.page-account{
	.info-bottom ul li.category-post{
		background: #fff;
	}

}
.box-hoc-van{
	.ly-do-tu-choi-hs {
		span{
			font-size: 12px;
			color: #E85D5D !important;
		}
		img{
			margin-right: 10px;
		}
	}
}
/* -----------------Page Your CV - CV trực tuyến---------------*/
.page-your-cv{
	p{
		font-size: 16px;
	}
	.title-page.flex-center {
		justify-content: space-between;
	}
	.action-your-cv{
		display: inline-block;
		a{
			font-weight: 500;
			background-color: white;
			height: 40px;
			padding: 10px 15px;
			border: 1px solid $brand;
			border-radius: 2px;
			width: 160px;
			text-align: center;
			margin-left: 15px;
			font-size: 14px;
			color: $brand;
			svg{
				margin-right: 3px;
				height: 18px;
			}
			&:hover{
				color: white;
				background-color: $green;
				border: 1px solid transparent;
				svg{
					path{
						stroke: white;
					}
				}
			}
		}
	}
	.box-hoc-van{
		padding: 20px;
		position: relative;
		.time-work{
			 font-size: 16px;
			 position: absolute;
			 right: 20px;
			 top: 15px;
		}
		span{
			margin-left: 0 !important;
			margin-right: 20px;
			font-size: 16px;
		}
		.flex-center{
			justify-content: left;
		}
		ul{
			margin-top: 20px;
		}
	}
	.box-shadow-step{
		margin-top: 80px;
		padding: 50px;
		box-shadow: none;
		border: 1px solid $brand;
	}
}
.info-reference{
	span::after{
		content: "| ";
		display: inline-block;
		padding-left: 5px;
		&:last-child{
			content: " ";
		}
	}
}
.head-info-cv{
	justify-content: left;
    align-items: flex-start;
	position: relative;
	.img-accept{
		position: absolute;
		right: 0;
		max-width: 180px;
		top: 0;
	}
	.your-avatar-cv{
		max-width: 100%;
		max-height: 250px;
		border-radius: 100%;
		border: 1px solid $border;
	}
	.head-info-right-cv{
		padding-left: 30px;
		p{
			font-size: 16px;
			color: $text-alpha;
		}
		.name-cv {
			justify-content: left;
			h1{
				font-size: 45px;
				font-weight: 600;
			}
		}
		
		.your-postion{
			font-weight: normal;
			font-size: 24px;
		}
	}
	.profile-user-img{
		width: 200px;
	}
}
.list-your-contact{
	justify-content: left;
	a{
		font-size: 16px;
		margin: 0 15px;
		color: $text-alpha !important;
		img{
			margin-right: 3px;
		}
		&:first-child{
			margin-left: 0;
		}
	}
}
.title-your-cv{
	h2{
		font-size: 24px;
		font-weight: 600;
		margin: 20px 0;
		text-transform: uppercase;
	}
}
.content-deatil-cv{
	.flex-center{
		justify-content: left;
		
		h4{
			margin-right: 5px;
		}
		span {
			margin-left: 10px;
			i{
				font-size: 14px;
				color: $text-alpha;
				margin-right: 3px;
			}
		}
	}
	p  strong{
			font-size: 14px;
			}
	ul{
		padding-left: 14px;
		line-height: 30px;
		li span{
			font-size: 16px;
		}
	}
}
/* ----------------- Help center - page help center---------------*/
.btn-make-question{
    height: 40px;
	background-color: $brand;
	margin: 0 !important;
	span{ 
		font-weight: 700;
		margin-right: 5px;
		font-size: 15px;
	}
}
.page-help-center{
	.card-body img{
		margin: 15px 0;
		width: 100%;
	}
}
.box-search-question{
	position: relative;
	i.ti-search-question{
		position: absolute;
		top: 22px;
		font-size: 16px;
		left: 20px;
		color: $text-alpha;
		font-weight: 600;
	}
	input {
		box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.16);
		border-radius: 4px;
		width: 100%;
		height: 60px;
		outline: none;
		border: 1px solid $brand;
		padding-left: 42px;
		background-color: white;
		font-size: 14px;
	}
}
.head-question{
	.btn-common-fill{
		width: fit-content;
		background-color: #fff;
		border: 1px solid $brand;
		color: $brand;
		img{
			margin-left: 5px;
			height: 12px;
		}
	}
}
.contact-faqs{
	p{
		font-size: 16px !important;
		margin-bottom: 10px;
		span{
			font-size: 16px !important;
		}
	}
}
.accordion-tab-question{
	p{
		font-size: 16px;
	}
	.btn-link.focus, .btn-link:focus, .btn-link:hover{
		text-decoration: none;
	}
	.card{
		border: 0;
		.card-body{
			background-color: $bg-gray;
		}
	}
	.card-header{
		background-color: transparent;
		border-bottom: 1px solid #E6E6E6;
		border-radius: 0 !important;
		padding: 0;
		h5{
			padding: 10px 0;
		}
		button{
			text-align: left;
			font-size: 20px;
			font-weight: 500;
			color: $text;
			padding-left: 0;
		}
	}
}
.section-make-question{
	overflow:initial;
	.content-form-question{
		max-width: 580px;
		.btn-common-fill.btn-send-question{
			max-width: 100%;
			margin: 20px 0 30px 0;
		}
		span.text-alpha{
			float: right;
		}
		textarea{
			height: 150px;
		}
		.noti-input-file{
			float:none !important;
		}
		p{
			font-size: 14px;
		}
	}
}
.attach-file{
	label{
		padding: 0;
	}
	.btn-upfile-question{
		cursor: pointer;
		color: $brand;
		font-weight: 500;
		font-size: 15px;
		img{
			height: 26px;
		}
	}
	.input-file {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	   
	}
}
/* -------------Ho so nha to chuc- nha tuyen dung --------------*/
.page-reg-recruiter{
	.box-info-page-res{
		box-shadow: none;
	}
	
}
.page-step-profile-student.page-account{
 .btn-action a{
	margin-right: 15px;
 }
}
.page-step-profile-student.profile-recuiter .box-shadow-step .btn-common-fill{
	max-width: fit-content !important;
}
.link-social{
	.custom-select{
		margin-right: 15px;
		width: 25%;
	}
}
.btn-saveed{
	background-color: #85B867;
	border: 1px solid transparent;
}
.profile-recuiter{
	.border-line{
		margin-top: 30px;
		padding-bottom: 0;
	}
	.link-social{
		margin: 15px 0;
		.btn-common-fill{
			max-width: 150px;
			color: $text-alpha;
			border: 1px solid $border;
			border-radius: 4px;
			background-color: white;
			font-weight: normal;
			margin-right: 15px;
			svg{
				margin-right: 5px;
				circle{
					fill: $text-alpha;
				}
				
			}
		}
		.custom-select{
			max-width: 170px;
    		margin-right: 10px;
		}
	}

	.add-filed-profile{
		margin-bottom: 0;
		font-size: 14px;
	}
}

.btn-upload-logo{
	background: $bg-gray;
	border: 1px dashed #3076D7;
	border-radius: 2px;
    padding: 10px;
}
.box-thong-tin, .box-xacnhan-hs, .box-reject-hs{
	color: $brand;
	background: #ECF4FF;
	border: 1px solid #8CB5EE;
	border-radius: 2px;
	padding: 10px 30px;
	margin: 15px 0;
	img{
		margin-right: 3px;
	}
	p{
		font-weight: normal;
		line-height: 20px;
		text-align: justify;
		margin-bottom: 0;
	}
}
.box-reject-hs{
	color: #E20000;
	background-color: #FFE9E9;
	border: 1px solid #EC9494;
}
.box-xacnhan-hs{
	color: $green;
	background-color: #EAFFDD;
	border: 1px solid #85B867;
	img{
		margin-right: 5px;
	}
}
.list-interships{
	padding-top: 0 !important;
	.box-hoc-van{
		padding-right: 200px;
		margin-bottom: 24px;
		.flex-center{
			justify-content: left;
			span{
				color: $text-alpha;
				margin-right: 20px;
			}
		}
	}
	.applicants{
		margin-top: 15px;
		a{
			color: $brand;
			font-size: 12px;
			margin-right: 10px !important;
			margin: 0;
			text-decoration: unset;
			&:last-child{
				text-decoration: underline;
			}
		}
	}
	.custom-switch{
		margin: 0;
	}
	.ly-do-tu-choi-hs{
		margin-left: 20px;
		padding-right: 30px;
		display: flex;
	}
}
/* ------------- Section doi tac -page dang ky nha tuyen dung --------------*/

.doanh-nghiep{
	padding-bottom: 0;
	.feedback{
		padding-top: 10px;
		background-color: white;
	}
	.section-doi-tac{
		background-color: $bg-gray;
		padding-bottom: 30px;
		.title-gold {
			font-size: 72px;
			color: $green-text;
			font-weight: 800;
			&::after {
				content: "+";
				font-weight: 500;
			}
		}
	}
  .box-doi-tac{
	min-height: 550px;
	.dt-doanh-nghiep{
	  position: relative;
	  display: flex;
	  align-items: center;
	  height: 496px;
	  padding-right: 600px;   
	  .title-section{
		h2{ 
			display: inline-block;
			width: 100%;
			font-weight: 800;
			font-size: 45px;
		  line-height: 65px;
		  text-align: right;
		  a{
			display: initial;
		  }
		}
	  }
	  .logo-doi-tac{
		width: 580px;
		height: 496px;
		position: absolute;
		top: 0;
		right: 0;
		  .box-logo-dtac{
			width: 100%;
			position: relative;
			top: 0;
			left: 0;
			.logo-dtac{
			  position: absolute;
			  border-radius: 2px;
			  background: #fff;
			  display: flex;
			  padding: 15px;
			  align-items: center;
			  justify-content: center;
			  float: left;
			  margin:10px;
			  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
			  
			  &:nth-child(1){
				width: 198px;
				height: 85px;
				left: 137px;
				top: 0;
				img{
				  height: 75px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(2){
				width: 117px;
				height: 85px;
				left: 355px;
				top: 0px;
				img{
				  height: 75px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(3){
				width: 117px;
				height: 85px;
				left: 0px;
				top: 105px;
				img{
				  height: 75px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(4){
				width: 198px;
				height: 85px;
				left: 137px;
				top: 105px;
				img{
				  height: 75px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(5){
				width: 117px;
				height: 85px;
				left: 355px;
				top: 105px;
				img{
				  height: 75px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(6){
				width: 115px;
				height: 50px;
				left: 80px;
				top: 210px;
				img{
				  height: 40px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(7){
				width: 120px;
				height: 120px;
				left: 215px;
				top: 210px;
				img{
				  height: 110px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(8){
				width: 197px;
				height: 197px;
				left: 355px;
				  top: 210px;
				img{
				  height: 187px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(9){
				width: 115px;
				height: 50px;
				left: 80px;
				top: 280px;
				img{
				  height: 40px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(10){
				width: 120px;
				height: 120px;
				left: 215px;
				  top: 350px;
				img{
				  height: 110px;
				  max-width: 100%;
				}
			  }
			  // <!-- ======================Box khong img logo===================== -->
			  &:nth-child(11){
				width: 70px;
				height: 70px;
				left: 47px;
				top: 15px;
				img{
				  height: 60px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(12){
				width: 60px;
				height: 60px;
				left: 492px;
				top: 130px;
				img{
				  height: 50px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(13){
				width: 60px;
				height: 60px;
				left: 0px;
				top: 210px;
				img{
				  height: 50px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(14){
				width: 60px;
				height: 60px;
				left: 136px;
				top: 350px;
				img{
				  height: 50px;
				  max-width: 100%;
				}
			  }
			  &:nth-child(15){
				width: 40px;
				height: 40px;
				left: 355px;
				top: 427px;
				img{
				  height: 30px;
				  max-width: 100%;
				}
			  }
		  }
		}
	  }
	}
  }
  .img-slider{
	h3{
	  text-align: center;
	  left: 0;
	  right: 0;
	  margin: 0 auto;
	  max-width: 950px;
	  display: -webkit-box;
	  -webkit-line-clamp: 4;
	  -webkit-box-orient: vertical;
	  overflow: hidden;
	  line-height: 30px;
	  font-weight: 400;
	}
	.box-information{
	  display: flex;
	  align-content: center;
	  justify-content: center;
	  margin-top: 25px;
	  .slider-img{
		border-radius: 100%;
		height: 75px;
		width: 75px ;
		margin-right: 15px;
		object-fit: cover;
	  }
	  .slider-infor{
		h4{
		  font-weight: 600;
		  font-size: 24px;
		  line-height: 20px;
		}
		p{
		  display: -webkit-box;
		  -webkit-line-clamp: 1;
		  -webkit-box-orient: vertical;
		  overflow: hidden;
		}
	  }
	}
  }
  .owl-dots{
	display: none;
  }

  .ss-result{
	padding-top: 40px;
	.owl-nav{
	  button{
		&:focus{
		  outline: transparent;
		}
		span{
		  display: none;
		}
	  }
	}
	position: relative;
	.owl-prev{
	  position: absolute;
	  left: 0px;
	  top: 25%;
	  width: 50px;
	  height: 50px;
	  background: url(../images/arrow-left.png) no-repeat center !important;
	  background-size: contain !important;
	}
	.owl-next{
	  position: absolute;
	  right: 0px;
	  top: 25%;
	  width: 50px;
	  height: 50px;
	  background: url(../images/arrow-right.png) no-repeat center !important;
	  background-size: contain !important;
	}
  }
}
.item__third.avatar-thumb a:last-child{
	display: none !important;
}
/*------------------- Page post tuyen dung intership -----------------*/
.section-post-td-intership{
	.content-profile-recuiter{
		.form-group label{
			font-weight: 600;
			display: inline-block;
			width: 100%;
		}
		.flex-center.loai-hinh-tt{
			justify-content: left;
			.check-radio-custom{
				margin: 25px 25px 25px 0;
			}
		}
		.check-radio-custom{
			label{
				font-weight: normal;
			}
		}
		.custom-checkbox{
			margin: 10px 10px 10px 0;
			display: inline-block;
		}
		.list-chinh-sach{
			.custom-checkbox{
				width: 27%;
				margin-right: 10px;
			}
		}
		.ngay-thuc-tap{
			&.flex-center{
				justify-content: left;
				.check-radio-custom{
					margin-bottom: 0;
				}
				input{
					width: 285px;
    				margin-right: 20px;

				}
			}
		}
		.thoigian-thuctap{
			&.flex-center{
				justify-content: left;
			}
			input{
				margin-right: 10px;
			}
			&.salary{
				.custom-select, input{
					width: 200px;
					margin-right: 15px;
				}
			}
		}
		.text-alpha.noti-ky-tu{
			top: 18px;
		}
	}
}
/*---------------------- Page dashoboard nha tuyen dung ----------------------*/
.page-dashborad{
	.box-vieclam-tot{
		position: relative;
		.tab-profile{
			margin: -10px 0;
			.nav-link{
				padding: 6px 0;
				font-weight: 700;
			}
		}
		.action-edit-hs{
			right: 10px;
		}
		.total-ho-so-td{
			border: 1px solid $text-alpha;
			border-radius: 2px;
			padding: 4px 15px;
			font-size: 13px;
			font-weight: 600;
			margin-right: 5px;
			&:hover{
				color: $brand;
				border-color: $brand;
			}
		}
			.btn-edit-hs:hover svg {
				path{
					fill: $brand;
				}
			}
		.flex-center{
			justify-content: left;
			p, span{
				margin: 0 15px 5px 0 ;
			}
		}
		.ly-do-tu-choi-hs{
			margin-bottom: 10px;
		}
	}
}
.dashboard-empty{
	text-align: center;
	margin-top: 30px;

	img{
		max-width: 200px;
	}
}
.detail-dashboard-left{
	.btn-action a{
		margin-top: 0;
		svg {
			height: 20px;
			margin-left: 5px;
			margin-left: 3px;
    		margin-bottom: 4px;
			path{
				fill: white;
			}
		}
	}
	p{
		margin: 10px 0;
	}
}

.detail-dashboard-right{
	.tab-profile {
		.nav{
			display: flex;
			justify-content: center;
		}
		.nav-tabs{
			border-bottom: 1.5px solid $border;
			.nav-link{
				font-weight: 600;
				width: 25%;
				text-align: center;
				span{
					font-size: 14px;
				}
			}
		}
		.nav-item.show .nav-link, .nav-tabs .nav-link.active{
			background-color: transparent;
			border-bottom: 1.5px solid $brand;
		}
		
	}
	.btn-view-detail-hs {
		margin-top: 4px;
		margin-right: 0;
		span{
			font-weight: 600;
			font-size: 18px;
			color: $border;
		}
	}
}
.btn-action-xet-duyet{
	.btn-common-fill{
		height: 40px;
		line-height: 40px;
		border: 0;
		margin: 0 15px;
		text-transform: unset;
		max-width: 310px;
		width: 100%;
		&.btn-aprrove-pv{
			background-color: $green;
		}
		&.btn-deny-pv{
			background-color: #E85D5D;
		}
	}
}
.page-your-cv{
	textarea{
		color: $text;
		font-size: 14px;
	}
}

.page-view-jobs-company{
	.avatar-thumb a{
		max-width: 116px;
		margin: 0 auto;
	}
	.content-right-detail{
		margin-top: 0;
		a{
			color: $text;
			font-size: 16px;
			font-weight: 600;
		}
		.name-item{
			margin-top: 10px;
		}
	}
}
.page-list-services{
	.row.mt-50{
		margin-top: 20px;
	}
	.box-sticky-scroll{
		margin-bottom: 40px;
	}
	.box-sticky-scroll{
		p{
			font-weight: 600;
		}
	}
	.filter-location{
		li{
			margin-bottom: 20px;
		}
		span{
			font-size: 14px;
			color: $text-alpha;
		}
	}
}
.list-item-service{
	margin-bottom: 30px;
	ul{
		padding-left: 15px;
		li{
			margin-bottom: 10px;
			a{
				font-size: 13px;
				color: $text;
			}
		}
	}
	p{
		font-weight: 600;
	}
}
/*---------------------- Page news - detail news ----------------------*/
.breadcrumbs{
	padding-left: 15px;
    padding-bottom: 15px;
	a{
		color: white;
		font-size: 12px;
		text-decoration: none;
	}
	i{
		color: white;
		font-weight: 600;
	}
}
.head-news{
	min-height: 400px;
	.info-head-news{
		padding-top: 80px;
		text-align: center;
		color: white;
		p{
			padding: 0 100px;
			font-size: 16px;
		}
	}
}
.menu-about-section{
    display: inline-block;
    padding: 0;
    width: 100%;
    .menu-about{
		background: #FFFFFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
		width: 100%;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
			margin: 0;
			padding-bottom: 0;
			list-style: none;
            .no-sub{
				padding:10px;
				a{
					color: $text;
				font-weight: 500;
				}
                a:hover{
                    color: $green;
				}
				&.active{
					a{
						color: $brand;
					}
					border-bottom: 1px solid $brand;
				}
            }
        }
    }
}
@mixin line-clamp {
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.item-news{
	margin-bottom: 30px;
	background: #FFFFFF;
	box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	
	.info-news{
		padding: 12px 14px 20px 20px;

	}
	.avatar-thumb a img{
		border-radius: 4px 4px 0 0;
		object-fit: cover;
	}
	.title-news{
		&.lagre-news {
			a{
				font-size: 24px;
				padding-right: 15px;
			}
		}
		a{
			font-size: 16px;
			color: $text;
			font-weight: 500;
			@include line-clamp();
			
		}
	} 
	.desc-news{
		font-size: 14px;
		line-height: 22px;
		@include line-clamp();
		&.lagre-desc{
			font-size: 18px;
		}
	}

}
.date-time-news{
	margin-top: 5px;
	p {
		&.flex-center{
			justify-content: left;
			margin-bottom: 0;
		}
		.date-news{
			margin: 0 5px;
			&::after{
				content: ',';
				display: inline-block;
				margin-left: 5px;
			}
		}
		i{
			font-weight: 600;
	}
	}
}
.author-news{
	color: $brand;
	&::after {
		content: ',';
		display: inline-block;
		margin-left: 5px;
	}
	
}
.section-news-lagre{
	.item-news{
		box-shadow: none;
		margin-bottom: 30px;
		.avatar-thumb a img{
			border-radius: 4px;
		}
		.info-news{
			padding-left: 0;
			padding-bottom: 0;
		}
	}
}
.news-related.list-sm-news{
	padding-top: 0;
	h2{
		text-align: center;
		margin-bottom: 30px;
	}
}
.head-detail-news{
	align-items: center;
	.info-author-news{
		margin-bottom: 15px;
	}
	img{
		width: 100%;
	}
	.author-news{
		color: $text;
	}
	span{
		font-size: 16px;
	}
}
.info-author-news{
	.author-news{
		color: $text;
	}
	img{
		width: fit-content;
	}
}
.bg-gray{
	background-color: $bg-gray;

}
.page-list-news{
	.item-news{
		border-radius: 0 !important;
		.avatar-thumb a img{
			border-radius: 0 !important;
		}
		.desc-news{
			color: $text-alpha;
		}
		.title-news.lagre-news a {
			font-size: 20px;
		}
		.time-news{
			color: $brand;
		}
		
	} 
	.desc-news{
		font-size: 13px;
		padding-top: 15px;
	}
	.flex-center{
		justify-content: left;
		a img{
			margin-left: 10px;
		}
	}
}
.list-sm-news{
	.item-news {
		border: 1px solid $border;
		.desc-news{
			color: $text-alpha;
			font-size: 13px;
			-webkit-line-clamp: 4;
		}
		.avatar-thumb a img{
			border-radius: 0 !important;
		}
		.info-news{
			position: relative;
		}
		.flex-center{
			justify-content: left;
			span{
				color: #7C7C7C;
			}
			a:last-child{
				position: absolute;
				right: 10px;
			}
		}
	}
}
.page-detail-news{
	.detail-news{
		position: relative;
		
	}
	.head-news{
		.info-head-news {
			padding-top: 60px;
		}
		h1{
			max-width: 600px;
			margin: 0 auto;
		}
		p{
			color: white;
			margin-top: 30px;
			justify-content: center;
		}
	}
	.content-detail-news{
	g{
			border-radius: 8px;
			object-fit: cover;
		}
		p{
			font-size: 16px;
			margin: 20px 0;
		}
	}
	
}
.content-detail-news{
	max-width: 750px;
    margin: 0 auto;
    margin-left: 0;
		
}
.list-tags-news{
 justify-content: space-between;
}
.tags-news{
	a{
		padding: 5px 10px;
		font-weight: 500;
		font-size: 13px;
		margin: 5px 5px 5px 0;
		display: inline-block;
		color: $text;
		border: 1px solid $text;
	}
}
.action-share-news a{
	margin: 0 10px ;
}
.editor-body{
  
	ul, ol{
	  padding-left: 15px;
	}
	span, p, b, strong, label, i{
	  font-size: initial !important;
	  width: initial!important;
	  height: initial!important;
	  font-weight: initial!important;
	}
	h1, h2, h3, h4, h5, h6{
	  font-size: initial!important;
	  width: initial!important;
	  font-weight: initial!important;
	  height: initial!important;
	  margin: 20px 0;
	  span, p, b, strong, label, i{
		font-size: initial!important;
		width: initial!important;
		font-weight: initial!important;
		height: initial!important;
	  }
	}
	img{
		max-width:100% !important;
		margin: 20px auto ;
		  
	}
  }
.box-sticky-scroll{
	display: none;
	ul {
		padding-left: 5px;
		li{
			margin: 10px 0;
			list-style: none;
			a{
				color: $text;
				font-size: 14px;
			}
			&.active{
				a{
					color: $brand;
				}
			}
		}
	}
}

.show-box-sticky-scroll{
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 30px;
	position: sticky;
	top: 0;
	width: 100%;
	&.box-sticky-scroll{
		display: block;
	}
}

.box-shadow{
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 15px;
}
.section-contact{

	.hotline{
		font-size: 24px;
		font-weight: 600;
		color: $brand;
	}
	.info-contact{
		padding-bottom: 30px;
		text-align: center;
		.avatar-thumb a img{
			border-radius: 4px;
			object-fit: cover;
		}
		p{
			padding: 20px 30px 5px 30px;
			font-size: 16px;
		}
		span{
			img{
				margin-right: 5px;
			}
		}
	}
	.contact-form{
		padding: 30px;
		text-align: center;
		h3{
			font-size: 24px;
		}
		.form-group{
			margin: 15px 0;
		}
		input, textarea{
			background-color: #F7F9FC;
			&::placeholder{
				color: $text-alpha;
				font-size: 14px;
				font-weight: normal;
			}
		}
		textarea{
			height: 138px !important;
		}
		.btn-action a{
			width: 150px;
		}
	}
}
.section-404{
	h1{
		font-size: 100px;
		margin-top: 30px;
	}
	p{
		font-size: 18px;
	}
	
	img{
		max-width: 300px;
		margin: 0 auto;
	}
}


.page-policy{
	.info-head-news{
		text-align: center;
		p{
			max-width: 900px;
			margin: 0 auto;
		}
	}
	.detail-policy{
		ul{
			padding-left: 15px;
		}
		p{
			font-size: 16px;
			
		}
	}
}
.page-detail-event{
	.breadcrumbs a, i{
		color: $text-alpha;
	}
}
.page-event{
	.breadcrumbs a, i{
		color: $text-alpha;
	}
	.section-lagre-event{
		margin-bottom: -20px;
	}
	.btn-common-fill{
		text-transform: unset;
	}

}
.head-title-event.flex-center{
	align-items: flex-start;
	.info-event-right{
		padding-left: 25px;
		.btn-action a{
			max-width: 290px;
    		width: 100%;
		}
	}
}
.box-countdown{
	border-top: 1px solid #B6D9C0;
	border-bottom: 1px solid #B6D9C0;
	padding: 10px 0;
	justify-content: space-around;
	#timer {
		display: flex;
		margin-bottom: 20px;
		color: $brand;
		letter-spacing: -1px;
		.text-timer{
			position: absolute;
			top: 38px;
			text-align: center;
			left: 0;
			right: 0;
			font-size: 12px;
			margin-bottom: 0;
			color: $text-alpha;
		}
	  }
	  .box-time{
		position: relative;   
		 margin: 0 23px;
	  }
	  #timer span {
		 
		font-size: 26px;
		color: $brand;
		margin: 0 3px 0 15px;
		position: relative;
		font-weight: 600;
	  }
	 
	  #timer span:first-child {
		margin-left: 0;
	  }
		
}
.content-detail-event{
	max-width: 790px;
	margin: 0 auto;
	margin-top: 40px;
}
.info-time{
	color: $brand;
	.date-time-event{
		border-left: 1px solid #B6D9C0;
		padding: 0 30px;
		i{
			color: $brand;
		}
		p{
			margin-bottom: 0;
			font-size: 16px;
			margin: 0 15px;
			i{
				margin-right: 5px;
				font-weight: 600;
				font-size: 16px;
			}
		}
	}
	
}
.modal-confirm{
	h4{
		padding: 20px 50px;
		font-size: 20px;
	}
	img{
		max-width: 220px;
	}
	.flex-center{
		align-items: flex-start;
	}
	.btn-action{
		text-align: center;
		button{
			max-width: 270px !important;
			margin: 0 auto;
		}
	}
	.info-confirm-reg {
		padding-left: 25px;
		p{
			font-size: 16px;
			font-weight: 600;
		}
		a{
			color: $text-alpha;
			width: 100%;
			display: inline-block;
			margin-bottom: 10px;
			img{
				margin-right: 5px;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.form-reg-event{
	padding: 30px;
	.form-group{
		margin: 25px 0;
	}
	.btn-action a{
		max-width: 100%;
		width: 100%;
	}
}
.page-detail-event{
	html {
		scroll-behavior: smooth;
	}
	.content-detail-event{
		.btn-action a{
			max-width: 290px;
			width: 100%;
		}
	}
	
}
.sticky-box{
	&.show-sticky-form{
		position: -webkit-sticky;
		position: sticky;
		top: 150px;
		
	}
}
.none-overflow{
	overflow: initial;
}
.partner-section{
	display: inline-block;
	width: 100%;
	padding: 50px 20px;
	h2{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.col-md{
		margin: 0 !important;
		padding: 0;
		&:last-child{
			.item-partner{
				border-right: 0;
			}
		}
	}
}
.item-partner{
	border-right: 1px solid $border;
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 0 30px;
	img{
		height: 25px;
		margin:10px 20px;
	}
	h6{
		font-size: 18px;
		margin-bottom: 35px;
		display: inline-block;
		width: 100%;
		line-height: 24px;
	}
	
}
.digi-section-5{
	width: 100%;
	background: white;
	position: relative;
	margin-bottom: 30px;
	&::before{
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 400px;
		content: '';
		height: 400px;
		background: url(../images/hero-small.svg) no-repeat center;
		background-size: contain !important;
	}
	&::after{
		display: inline-block;
		position: absolute;
		top: 0;
		content: '';
		right: 0;
		width: 620px;
		height: 620px;
		z-index: 1;
		background: url(../images/hero-small.svg) no-repeat center;
		background-size: contain !important;
	}
}
.content-form{
	max-width: 770px;
	margin: auto;
	position: relative;
	padding: 50px;
	z-index: 2;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	.button-action{
		text-align: right;
	}
	label{
		font-size: 14px;
	}
	.title-section{
		text-align: left;
		p{
			
			text-align: left;
			font-weight: normal;
		}
	}
	.btn-action a{
		max-width: 150px;
		width: 100%;
	}
	.select-items {
		max-height: 150px;
	}
}
.select-items {
    overflow-y: auto;
    max-height: 250px;
}
/*---------------------- Page about -------------------------*/
.page-about-section{
	
	.row.about-us{
		align-items: center;
	}
	.flex-center{
		height: inherit;
		justify-content: left;
	}
	
	h1{
		font-size: 54px;
		margin-top: 60px;
		margin-bottom: 15px;
		color: $brand;
	}
	p{
		font-size: 18px;
		line-height: 30px;
		
	}
}
.logo-title{
	max-width: 160px;
	margin-left: 8px;
}
.about-us{
	img{
		width: 100%;
	}
}
.page-about {
	.logo-title{
		margin: 0 8px;
	}
	.content-form{
		.title-page .flex-center{
			justify-content: start;
		}
		
	}
}
.description-about{
	.row{
		align-items: center;
	}
	.infor-about{
		background: #FFFFFF;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.09);
		padding:40px 50px;
		.btn-action a{
			text-transform: unset;
		}
		p{
			font-size: 18px;
			font-weight: 500;
			color: $text;
			margin: 30px 0;
		}
		h5{
			font-weight: normal;
			text-align: justify;
			line-height: 26px;
			span{
				font-size: 18px;
				font-weight: 600;
			}
		}
		img{
			height: 40px;
			margin-right: 15px;
		}
		.flex-center{
			justify-content: left;
		}
	}
	.team-box{
		img{
			width: 100px;
			height: 100px;
			border-radius: 100%;
			margin-bottom: 15px;
		}
		.member-team{
			h5{
				margin-bottom: 5px;
			}
			width: 50%;
			margin: 20px 0;
			float: left;
		}
	}
}
.mb-process{
	display: none;
}
.description-about {
    background: white;
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    margin-top: 67px;
}
.process-section-about{
	
		display: inline-block;
		width: 100%;
		min-height: 1270px;
		text-align: center;
		padding-top: 75px;
		margin-top: -90px;
		padding-bottom: 80px;

	h2{
		margin-top: 80px;
		padding-bottom: 180px;
	}
	.col-md{
		&:nth-child(1){
			.about-procees1{
				position: relative;
				margin-left: -21px;
				width: 180px;
				&::after{
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					background: $green;
					position: absolute;
					left: 81px;
					bottom: -28px;
					border-radius: 50%;
				}
				&::before{
					content: '';
					display: inline-block;
					width: 1px;
					height: 122px;
					background: none;
					border: 1px dashed $green;
					position: absolute;
					left: 90px;
					bottom: 25px;
				}
				img{
					margin-bottom: 137px;
				}
			}
		}
		&:nth-child(3){
			margin-top: -40px;
			margin-left: -13px;
			.about-procees1{
				position: relative;
				margin-left: -21px;
				width: 180px;
				&::after{
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					background: $green;
					position: absolute;
					left: 81px;
					bottom: -28px;
					border-radius: 50%;
				}
				&::before{
					content: '';
					display: inline-block;
					width: 1px;
					height: 122px;
					background: none;
					border: 1px dashed $green;
					position: absolute;
					left: 90px;
					bottom: 25px;
				}
				img{
					margin-bottom: 137px;
				}
			}
		}
		&:nth-child(5){
			position: relative;
			.about-procees1{
				margin-left: -21px;
				width: 180px;
				position: absolute;
				top: -158px;
				left: -9px;
				&::after{
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					background:$green;
					position: absolute;
					left: 81px;
					bottom: -28px;
					border-radius: 50%;
				}
				&::before{
					content: '';
					display: inline-block;
					width: 1px;
					height: 122px;
					background: none;
					border: 1px dashed $green;
					position: absolute;
					left: 90px;
					bottom: 25px;
				}
				img{
					margin-bottom: 137px;
				}
			}
		}
		&:nth-child(2){
			.about-procees1{
				position: relative;
				margin-left: -21px;
				width: 180px;
				&::after{
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					background:$green;
					position: absolute;
					left: 81px;
					bottom: -252px;
					border-radius: 50%;
				}
				&::before{
					content: '';
					display: inline-block;
					width: 1px;
					height: 122px;
					background: none;
					border: 1px dashed $green;
					position: absolute;
					left: 90px;
					bottom: -400px;
				}
				span{
					position: absolute;
					bottom: -553px;
					left: 0;
					color: white;
				}
				img{
					margin-bottom: 137px;
					position: absolute;
					bottom: -588px;
					left: 66px;
				}
				b{
					position: absolute;
					bottom: -273px;
					left: 0;
					color: $green;
				}
			}
		}
		&:nth-child(4){
			.about-procees1{
				position: relative;
				margin-left: -21px;
				width: 180px;
				position: absolute;
				top: -128px;
				left: 120px;
				&::after{
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					background:$green;
					position: absolute;
					left: 81px;
					bottom: -252px;
					border-radius: 50%;
				}
				&::before{
					content: '';
					display: inline-block;
					width: 1px;
					height: 122px;
					background: none;
					border: 1px dashed $green;
					position: absolute;
					left: 90px;
					bottom: -400px;
				}
				span{
					position: absolute;
					bottom: -534px;
					left: 0;
					color: white;
				}
				img{
					margin-bottom: 137px;
					position: absolute;
					bottom: -588px;
					left: 66px;
				}
				b{
					position: absolute;
					bottom: -273px;
					left: 0;
					color: $green;
				}
			}
		}
	}
}
.about-procees1{
	text-align: center;
	img{
		height: 50px;
	}
	span{
		display: inline-block;
		width: 100%;
		margin-bottom: 15px;
		font-size: 14px;
    	padding: 0 20px;
	}
	b{
		display: inline-block;
		width: 100%;
		font-weight: bold;
		color: $green;
	}
}
.value-digico{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 300px;
	padding-top: 50px;
	border-top: 1px solid #ffffff80;
	h3{
		color: white;
		font-size: 22px;
		margin-bottom: 50px;
	}
	.col-md{
		margin: 0 !important;
	}
	.item-value-digi{
		display: inline-block;
		width: 100%;
		text-align: center;
		img{
			height: 55px;
			margin-bottom: 20px;
		}
		h2{
			display: inline-block;
			width: 100%;
			color: white;
			font-size: 54px;
			padding-bottom: 0;
			margin-top: 10px;
		}
		span{
			display: inline-block;
			width: 100%;
			color: white;
		}
	}
}
.detail-news{
	.box-sticky-scroll{
		display: block;
		background: #FFFFFF;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: 20px;

	}
	
}
.page-news{
	.tab-profile .nav-tabs {
		border-bottom: 1px solid #E6E6E6;
		justify-content: center;
		.nav-link {
			font-weight: 600;
			width: 15%;
			text-align: center;
			border: 0;
			color: $text;
			padding-top: 0;
			&.active {
				background-color: transparent;
				border-bottom: 1.5px solid #3076D7;
				color: $brand;
			}
		}
		
	}
}
.news-section-2{
	padding: 30px 0;
}
.section-detail-event{
	margin-top: 110px;
}
/*------------------ Custom capcha --------------------------*/
.box-capcha{
	html,body {height:100%;}


.captcha {
	background-color:#fff;
	border:1px solid  $border;
	border-radius:2px;
	color:#4c4a4b;
	display:flex;
	justify-content:center;
	align-items:center;
}

.text {
	font-size:14px;
	font-weight:500;
	margin-right:1em;
}
.spinner {
	position:relative;
	display:flex;
	margin:0 10px;
	align-items:center;
	justify-content:center;
}
input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
input[type="checkbox"]+.checkmark {
	display:inline-block;
	width:20px;
	height:20px;
	background-color:#fcfcfc;
	border:1px solid $border;
	border-radius:1px;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor: pointer;
}
input[type="checkbox"]+.checkmark span {
	content:'';
	position:relative;/*
	position:absolute;
	border-bottom:3px solid;
	border-right:3px solid;
	border-color:#029f56;*/
	margin-top:-3px;
	transform:rotate(45deg);
	width:.75em;
	height:1.2em;
	opacity:0;
}
input[type="checkbox"]+.checkmark>span:after {
	content:'';
	position:absolute;
	display:block;
	height:3px;
	bottom:0;left:0;
	background-color:#029f56;
}
input[type="checkbox"]+.checkmark>span:before {
	content:'';
	position:absolute;
	display:block;
	width:3px;
	bottom:0;right:0;
	background-color:#029f56;
}
input[type="checkbox"]:checked+.checkmark { 
	animation:2s spin forwards;
}
input[type="checkbox"]:checked+.checkmark>span { 
	animation:1s fadein 1.9s forwards;
}
input[type="checkbox"]:checked+.checkmark>span:after {animation:.3s bottomslide 2s forwards;}
input[type="checkbox"]:checked+.checkmark>span:before {animation:.5s rightslide 2.2s forwards;}
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes bottomslide {
	0% {width:0;}
	100% {width:100%;}
}
@keyframes rightslide {
	0% {height:0;}
	100% {height:100%;}
}
.logo {
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
	align-self:flex-end;
	margin:0.5em 1em;
}
.logo img {
	height:2em;
	width:2em;
}
.logo p {
	color:$text-alpha;
	margin:0;
	font-size: 12px;
    font-weight: 500;
	margin:.4em 0 .2em 0;
}
.logo small {
	color:#9d9ba7;
	margin:0;
	font-size:.8em;
}
@keyframes spin {
	10% {
		width:0;
		height:0;
		border-width:6px;
	}
	30% {
		width:0;
		height:0;
		border-radius:50%;
		border-width:1em;
		transform: rotate(0deg);
		border-color:rgb(199,218,245);
	}
	50% {
		width:2em;
		height:2em;
		border-radius:50%;
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	70% {
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	90% {
		border-width:4px;
	}
	100% {
		width:2em;
		height:2em;
		border-radius:50%;
		transform: rotate(720deg);
		border-color:transparent;
	}
}
::selection {
	background-color:transparent;
	color:teal;
}
::-moz-selection {
	background-color:transparent;
	color:teal;
}
}
	
























